<template>
    <div class="aside__block">
        <div class="aside__block-header">
            <div class="aside__block-header__name">
                {{$t('lk.userChannels.title')}}
            </div>
        </div>
        <div class="aside__block-items">
            <div v-if="isVisibleLst">
                <div
                    :class="`aside__block-items__item ${isChannelSelected(channel.id) ? ' is-selected' : ''}`"
                    v-for="channel in list"
                    :key="channel.id"
                >
                    <div class="aside__block-items__item__content" @click="channelSelect(channel.id)">
                        <el-image
                            :src="channel.icon"
                            :fit="'contain'"
                        >
                            <div slot="error">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                        <span class="aside__block-items__item__content-text" :title="channel.name">
                            {{channel.name}}
                        </span>
                        <!--el-tag>
                            {{channel.subscribers || 0}}/
                        </el-tag-->
                    </div>
                    <div class="aside__block-items__item__actions">
                        <el-button type="primary" plain icon="el-icon-close" @click="onUnsubscribe(channel.id)"></el-button>
                    </div>
                </div>
            </div>
            <div v-else>
                {{$t('lk.messages.emptyUserChannels')}}
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CONST from '../../const';

    export default {
        name: 'AsideChannels',
        computed: {
            ...mapState({
                list: state => state.channels.userList,
                currentChannel: state => state.channels.currentChannel,
                userId: state => state.app.user.id,
            }),
            isVisibleLst () {
                return !!this.list.length;
            },
        },
        methods: {
            ...mapActions({
                setChannel: 'setCurrentChannel',
                unsubscribe: 'unsubscribe',
                setTab: 'setTab',
            }),
            channelSelect (id) {
                this.setChannel(id);
                this.setTab(CONST.TABS.CHANNEL);
            },
            isChannelSelected (id) {
                let result = false;
                if (this.currentChannel) {
                    result = this.currentChannel.id === id;
                }
                return result;
            },
            onUnsubscribe (channelId) {
                this.$confirm(this.$t('lk.userChannels.messages.unsubscribe'), this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    let channelName = this.list.find(item => Number(item.id) === Number(channelId)).name;
                    this.unsubscribe({
                        userId: this.userId,
                        channelId,
                    }).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.userChannels.messages.unsubscribeComplete'),
                            message: channelName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
        },
    }
</script>