<template>
    <div class="favorite-form" v-click-outside="closeForm">
        <div class="favorite-form__body">
            <el-form ref="favoriteForm" :model="favoriteForm" :rules="favoriteFormRules">
                <el-form-item prop="name">
                    <el-input
                        placeholder="Введите название"
                        v-model="favoriteForm.name"
                        @keydown.enter.native="submitForm($event)"
                    ></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div class="favorite-form__footer">
            <el-button type="text" @click="closeForm">
                Отменить
            </el-button>
            <el-button type="primary" @click="submitForm">
                <span v-if="favoriteToEdit">Сохранить избранное</span>
                <span v-else>Добавить избранное</span>
            </el-button>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import ClickOutside from 'vue-click-outside';

    export default {
        name: 'FavoriteForm',
        props: [
            'close',
            'favoriteToEdit',
        ],
        directives: {
            ClickOutside,
        },
        data () {
            let validateName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Поле не может быть пустым'));
                } else {
                    let existFavorite = this.favoritesList.find(item => item.name === value);
                    if (existFavorite) {
                        callback(new Error('Такое название уже существует'));
                    }
                    callback();
                }
            };
            return {
                favoriteForm: {
                    name: '',
                },
                favoriteFormRules: {
                    name: [
                        {validator: validateName, trigger: 'blur'},
                    ],
                },
            };
        },
        computed: {
            ...mapState({
                favoritesList: state => state.favorites.list,
            }),
        },
        created () {
            if (this.favoriteToEdit) {
                let favorite = this.favoritesList.find(item => Number(item.id) === Number(this.favoriteToEdit));
                if (favorite) {
                    this.favoriteForm.name = favorite.name;
                }
            }
        },
        methods: {
            ...mapActions({
                addFavorite: 'addFavorite',
                saveFavorite: 'saveFavorite',
            }),
            submitForm (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.$refs.favoriteForm.validate(valid => {
                    if (valid) {
                        let dataObject = {
                            name: this.favoriteForm.name,
                        };
                        if (this.favoriteToEdit) {
                            dataObject.id = this.favoriteToEdit;
                            dataObject.edit = false;
                            this.saveFavorite(dataObject).then(() => {
                                this.$notify({
                                    duration: 3000,
                                    title: 'Вы сохранили избранное',
                                    message: this.favoriteForm.name,
                                    type: 'success'
                                });
                                this.closeForm();
                            });
                        } else {
                            this.addFavorite(dataObject).then(() => {
                                this.$notify({
                                    duration: 3000,
                                    title: 'Вы добавили избранное',
                                    message: this.favoriteForm.name,
                                    type: 'success'
                                });
                                this.closeForm();
                            });
                        }
                    }
                });
            },
            closeForm () {
                this.close();
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';
    @import '../../styles/element-ui';

    .favorite-form {
        &__body {
            padding: 20px 20px 2px 20px;

            .el-form-item:last-child {
                margin-bottom: 0;
            }
        }
        &__footer {
            border-top: 1px solid $color-blue-light;
            text-align: right;

            .el-button {
                min-height: 50px;
                line-height: 50px;
                border-radius: 0;
            }
        }
    }
</style>