<template>
    <div class="aside__block aside__block--spaced">
        <div class="aside__block-header aside__block-header--colored">
            <div class="aside__block-header__name">
                {{$t('lk.favorites.title')}}
            </div>
            <div class="aside__block-header__actions">
                <el-popover
                    placement="bottom"
                    width="380"
                    popper-class="iqp-callisto-lk-favorite-popper"
                    v-model="show.favoriteForm"
                    @hide="clearFavoriteForm"
                    trigger="manual"
                >
                    <favorite-form
                        v-if="show.favoriteForm"
                        :close="() => show.favoriteForm = false"
                        :favoriteToEdit="favoriteToEdit"
                    ></favorite-form>
                    <el-button
                        slot="reference"
                        type="primary"
                        plain
                        icon="el-icon-plus"
                        @click="showFavoriteForm($event)"
                    >
                        {{$t('add')}}
                    </el-button>
                </el-popover>
            </div>
        </div>
        <div class="aside__block-items">
            <div v-if="isFavoritesVisible">
                <el-checkbox-group class="el-checkbox-group--list" v-model="favorites" @change="onChange">
                    <div
                        class="aside__block-items__item"
                        v-for="favorite in list"
                        :key="favorite.id"
                    >
                        <div class="aside__block-items__item__content">
                            <el-checkbox
                                class="el-checkbox-star"
                                :label="favorite.id"
                                :key="favorite.id"
                                name="favorites"
                            >
                                <span @click="toFavorite($event, favorite.id)">{{favorite.name}}</span>
                            </el-checkbox>
                        </div>
                        <div class="aside__block-items__item__actions">
                            <el-popover
                                placement="bottom"
                                width="380"
                                popper-class="iqp-callisto-lk-favorite-popper"
                                v-model="favorite.edit"
                                trigger="manual"
                            >
                                <favorite-form
                                    v-if="favorite.edit"
                                    :close="() => onUneditFavorite(favorite.id)"
                                    :favoriteToEdit="favoriteToEdit"
                                ></favorite-form>
                                <el-button
                                    slot="reference"
                                    type="primary"
                                    plain
                                    icon="el-icon-edit"
                                    @click="onEditFavorite(favorite.id, $event)"
                                ></el-button>
                            </el-popover>
                            <el-button
                                type="primary"
                                plain
                                icon="el-icon-close"
                                @click="onRemoveFavorite(favorite.id)"
                            ></el-button>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
            <div v-else class="empty">
                {{$t('lk.messages.emptyFavorites')}}
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CONST from '../../const';
    import FavoriteForm from './favorite-form';

    export default {
        name: 'Favorites',
        components: {
            FavoriteForm,
        },
        data () {
            return {
                oldFavorites: [],
                favorites: [],
                show: {
                    favoriteForm: false,
                },
                favoriteToEdit: null,
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.UNSELECT_FAVORITES, this.eventBusListenerUnselectFavorites);
        },
        computed: {
            ...mapState({
                list: state => state.favorites.list,
                favoritesList: state => state.favorites.list,
            }),
            isFavoritesVisible () {
                return !!this.list.length;
            },
        },
        methods: {
            ...mapActions({
                select: 'selectFavorites',
                removeFavorite: 'removeFavorite',
                setTab: 'setTab',
                editFavorite: 'editFavorite',
                uneditFavorite: 'uneditFavorite',
                unselectAllFeeds: 'unselectAllFeeds',
            }),
            eventBusListenerUnselectFavorites () {
                this.oldFavorites = [];
                this.favorites = [];
                this.select([]);
            },
            onChange (newValue) {
                let newFavorites = this.getNewFavorites(newValue);
                if (newFavorites.length) {
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FEEDS);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES);
                }
                this.favorites = newFavorites;
                this.select(newFavorites);
                this.setTab(CONST.TABS.DOCUMENTS);
                this.$nextTick(() => {
                    CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                });
            },
            toFavorite (event, id) {
                event.preventDefault();
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FEEDS);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES);
                this.$nextTick(() => {
                    this.oldFavorites = [id];
                    this.favorites = [id];
                    this.select(this.favorites);
                    this.setTab(CONST.TABS.DOCUMENTS);
                    this.$nextTick(() => {
                        CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                    });
                });
            },
            onRemoveFavorite (id) {
                let favoriteName = this.favoritesList.find(item => Number(item.id) === Number(id)).name;
                this.$confirm(`Вы действительно хотите удалить избранное ${favoriteName}?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    this.removeFavorite(id).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: 'Вы удалили избранное',
                            message: favoriteName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
            onEditFavorite (id, event) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.favoriteToEdit = id;
                this.editFavorite(id);
            },
            onUneditFavorite (id, event) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.favoriteToEdit = null;
                this.uneditFavorite(id);
            },
            showFavoriteForm (event) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.show.favoriteForm = true;
            },
            clearFavoriteForm () {
                this.favoriteToEdit = null;
            },
            getNewFavorites (newValue) {
                if (newValue.length < 2) {
                    this.oldFavorites = newValue;
                    return newValue;
                }
                let result = newValue.filter(item => !this.oldFavorites.includes(item));
                this.oldFavorites = result;
                return result;
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.UNSELECT_FAVORITES, this.eventBusListenerUnselectFavorites);
        }
    }
</script>

<style>
    .iqp-callisto-lk-favorite-popper {
        padding: 0;
        overflow: hidden;
    }
</style>