<template>
    <div class="aside__block aside__block--spaced">
        <div class="aside__block-header aside__block-header--colored">
            <div class="aside__block-header__name">
                {{$t('lk.myFeeds')}}
            </div>
            <div class="aside__block-header__actions">
                <el-button
                    type="primary"
                    plain
                    icon="el-icon-plus"
                    @click="addFeed($event)"
                >
                    {{$t('add')}}
                </el-button>
            </div>
        </div>
        <div class="aside__block-items">
            <div v-if="isFeedsVisible">
                <el-checkbox-group class="el-checkbox-group--list" v-model="feeds" @change="onChange">
                    <div
                        class="aside__block-items__item"
                        v-for="feed in list"
                        :key="feed.id"
                    >
                        <div class="aside__block-items__item__content">
                            <el-checkbox
                                :label="feed.id"
                                :key="feed.id"
                                name="feeds"
                            >
                                <span @click="toFeed($event, feed.id)">
                                    <i class="el-icon-loading" v-if="reCategorization.includes(feed.id)"></i>
                                    <i :class="feed.type === CONST.FEED_TYPES.IMAGES ? 'el-icon-picture' : 'el-icon-document'"></i>
                                    &nbsp;
                                    {{feed.name}}
                                </span>
                            </el-checkbox>
                        </div>
                        <div class="aside__block-items__item__actions">
                            <el-button
                                v-if="editAvailable(feed)"
                                type="primary"
                                plain
                                icon="el-icon-edit"
                                @click="onEditFeed(feed.id)"
                            ></el-button>
                            <el-button
                                type="primary"
                                plain
                                icon="el-icon-close"
                                @click="onRemoveFeed(feed.id)"
                            ></el-button>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
            <div v-else class="empty">
                {{$t('lk.messages.emptyUserFeeds')}}
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import CONST from '../../const';

    export default {
        name: 'Feeds',
        data () {
            return {
                CONST,
                feeds: [],
                feedsStatusListener: null,
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.UNSELECT_FEEDS, this.eventBusListenerUnselectFeeds);
            this.feedsStatusListener = setInterval(this.checkFeedsStatus, 60000);
        },
        computed: {
            ...mapState({
                list: state => state.feeds.list,
                selected: state => state.feeds.selected,
                editing: state => state.feeds.editing,
                currentTab: state => state.tabs.value,
                prevTab: state => state.tabs.prev,
                isFaceRecognitionAvailable: state => state.app.systemActions('FACE_RECOGNITION'),
                reCategorization: state => state.feeds.reCategorization,
            }),
            isFeedsVisible () {
                return !!this.list.length;
            },
        },
        watch: {
            selected: function (newVal) {
                this.feeds = newVal;
            },
        },
        methods: {
            ...mapActions({
                setTab: 'setTab',
                removeFeed: 'removeFeed',
                editingFeed: 'editingFeed',
                preFill: 'preFillFeed',
                select: 'selectFeeds',
                fromReCategorization: 'feedFromReCategorization',
            }),
            eventBusListenerUnselectFeeds () {
                this.feeds = [];
                this.select([]);
            },
            addFeed (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.editingFeed(null);
                CONST.EventBus.$emit(CONST.EVENTS.SHOW_FAST_FEED_FORM);
            },
            onRemoveFeed (id) {
                let isFeedInSelected = this.selected.includes(id.toString());
                let feedName = this.list.find(item => Number(item.id) === Number(id)).name;
                this.$confirm(`Вы действительно хотите удалить ленту ${feedName}?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    if (Number(this.editing) === Number(id)) {
                        this.editingFeed(null);
                        this.setTab(this.prevTab);
                    }
                    this.removeFeed(id).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: 'Вы удалили ленту',
                            message: feedName,
                            type: 'success'
                        });
                        this.$nextTick(() => {
                            if (isFeedInSelected && this.currentTab === CONST.TABS.DOCUMENTS) {
                                CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                            }
                        });
                    });
                }).catch(() => {});
            },
            onEditFeed (id) {
                this.editingFeed(id);
                this.setTab(CONST.TABS.FEED_FORM);
            },
            onChange () {
                if (this.feeds.length) {
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FAVORITES);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                }
                this.select(this.feeds);
                this.setTab(CONST.TABS.DOCUMENTS);
                this.$nextTick(() => {
                    CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                });
            },
            toFeed (event, id) {
                event.preventDefault();
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FAVORITES);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                this.feeds = [id];
                this.select(this.feeds);
                this.setTab(CONST.TABS.DOCUMENTS);
                this.$nextTick(() => {
                    CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                });
            },
            editAvailable (feed) {
                let result = true;
                if (feed.type === CONST.FEED_TYPES.IMAGES && !this.isFaceRecognitionAvailable) {
                    result = false;
                }
                return result;
            },
            checkFeedsStatus () {
                if (!!this.reCategorization.length) {
                    this.reCategorization.forEach(id => {
                        this.$services.subsystem_personalPage_feed.profileStatus(this.list.find(item => item.id === id).rubric.id).then(resp => {
                            if (resp.data) {
                                this.fromReCategorization(id);
                            }
                        });
                    });
                }
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.UNSELECT_FEEDS, this.eventBusListenerUnselectFeeds);
            clearInterval(this.feedsStatusListener);
        }
    }
</script>

<style lang="scss" scoped>
    .empty {
        margin-top: 5px;
    }
</style>