<template>
    <div class="aside__block aside__block--spaced">
        <div class="aside__block-header">
            <div class="aside__block-header__name">
                {{$t('lk.generalFavorites.title')}}
            </div>
        </div>
        <div class="aside__block-items">
            <div v-if="isGeneralFavoritesVisible">
                <el-checkbox-group class="el-checkbox-group--list" v-model="generalFavorites" @change="onChange">
                    <div
                        class="aside__block-items__item"
                        v-for="generalFavorite in list"
                        :key="generalFavorite.id"
                    >
                        <div class="aside__block-items__item__content">
                            <el-checkbox
                                class="el-checkbox-star"
                                :label="generalFavorite.id"
                                :key="generalFavorite.id"
                                name="generalFavorites"
                            >
                                <span @click="toGeneralFavorite($event, generalFavorite.id)">{{generalFavorite.name}}</span>
                            </el-checkbox>
                        </div>
                    </div>
                </el-checkbox-group>
            </div>
            <div v-else class="empty">
                {{$t('lk.messages.emptyGeneralFavorites')}}
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CONST from '../../const';

    export default {
        name: 'GeneralFavorites',
        data () {
            return {
                oldGeneralFavorites: [],
                generalFavorites: [],
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES, this.eventBusListenerUnselectGeneralFavorites);
        },
        computed: {
            ...mapState({
                list: state => state.generalFavorites.list,
            }),
            isGeneralFavoritesVisible () {
                return !!this.list.length;
            },
        },
        methods: {
            ...mapActions({
                select: 'selectGeneralFavorites',
                setTab: 'setTab',
            }),
            eventBusListenerUnselectGeneralFavorites () {
                this.oldGeneralFavorites = [];
                this.generalFavorites = [];
                this.select([]);
            },
            onChange (newValue) {
                let newGeneralFavorites = this.getNewGeneralFavorites(newValue);
                if (newGeneralFavorites.length) {
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FEEDS);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                    CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FAVORITES);
                }
                this.generalFavorites = newGeneralFavorites;
                this.select(newGeneralFavorites);
                this.setTab(CONST.TABS.DOCUMENTS);
                this.$nextTick(() => {
                    CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                });
            },
            toGeneralFavorite (event, id) {
                event.preventDefault();
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FEEDS);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_RECOMMENDATIONS);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FAVORITES);
                this.$nextTick(() => {
                    this.oldGeneralFavorites = [id];
                    this.generalFavorites = [id];
                    this.select(this.generalFavorites);
                    this.setTab(CONST.TABS.DOCUMENTS);
                    this.$nextTick(() => {
                        CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                    });
                });
            },
            getNewGeneralFavorites (newValue) {
                if (newValue.length < 2) {
                    this.oldGeneralFavorites = newValue;
                    return newValue;
                }
                let result = newValue.filter(item => !this.oldGeneralFavorites.includes(item));
                this.oldGeneralFavorites = result;
                return result;
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES, this.eventBusListenerUnselectGeneralFavorites);
        }
    }
</script>

<style lang="scss" scoped>
    //
</style>