<template>
    <div class="aside__block aside__block--spaced">
        <div class="aside__block-header">
            <div class="aside__block-header__name">
                <span v-if="isFeedsVisible">{{$t('lk.recommendations.title')}}</span>
                <el-tooltip v-else :content="$t('lk.messages.emptyRecommendations')">
                    <span>{{$t('lk.recommendations.title')}}</span>
                </el-tooltip>
            </div>
            <div class="aside__block-header__actions"></div>
        </div>
        <div class="aside__block-items">
            <div v-if="isFeedsVisible">
                <div
                    class="aside__block-items__item"
                    v-for="rec in list"
                    :key="rec.id"
                >
                    <div :class="`aside__block-items__item__content${isSelected(rec.id) ? ' selected' : ''}`">
                        <span @click="toFeed($event, rec.id)">
                            <el-tooltip effect="light" :content="`${rec.recommender.surname} ${rec.recommender.name}`" placement="top">
                                <div slot="content">
                                    <div>
                                        <strong>{{$t('author')}}</strong>: {{`${rec.recommender.surname} ${rec.recommender.name}`}}
                                    </div>
                                    <div>
                                        <strong>{{$t('description')}}</strong>: {{rec.description}}
                                    </div>
                                </div>
                                <i class="el-icon-info"></i>
                            </el-tooltip>
                            &nbsp;
                            <i :class="rec.feedTo.type === CONST.FEED_TYPES.IMAGES ? 'el-icon-picture' : 'el-icon-document'"></i>
                            &nbsp;
                            {{rec.feedTo.name}}
                        </span>
                    </div>
                    <div class="aside__block-items__item__actions">
                        <el-button
                            type="primary"
                            plain
                            icon="el-icon-check"
                            @click="onAccept(rec.id)"
                        ></el-button>
                        <el-button
                            type="primary"
                            plain
                            icon="el-icon-close"
                            @click="onDecline(rec.id)"
                        ></el-button>
                    </div>
                </div>
            </div>
            <!--div v-else class="empty">
                {{$t('lk.messages.emptyRecommendations')}}
            </div-->
        </div>
    </div>
</template>

<script>
    import CONST from '../../const';
    import {mapActions, mapState} from 'vuex';

    export default {
        name: 'Recommendations',
        data () {
            return {
                CONST,
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.UNSELECT_RECOMMENDATIONS, this.eventBusListenerUnselectRecommendations);
        },
        computed: {
            ...mapState({
                userId: state => state.app.user.id,
                list: state => state.recommendations.list,
                selected: state => state.recommendations.selected,
            }),
            isFeedsVisible () {
                return !!this.list.length;
            },
        },
        methods: {
            ...mapActions({
                selectRecommendation: 'selectRecommendation',
                setTab: 'setTab',
                declineRecommendation: 'declineRecommendation',
                acceptRecommendation: 'acceptRecommendation',
                getFeeds: 'feeds',
                appendFeed: 'appendFeed',
            }),
            eventBusListenerUnselectRecommendations () {
                this.selectRecommendation([]);
            },
            toFeed (event, id) {
                event.preventDefault();
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FEEDS);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_FAVORITES);
                CONST.EventBus.$emit(CONST.EVENTS.UNSELECT_GENERAL_FAVORITES);
                this.selectRecommendation(id);
                this.setTab(CONST.TABS.DOCUMENTS);
                this.$nextTick(() => {
                    CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                });
            },
            isSelected (id) {
                return this.selected.includes(id);
            },
            onAccept (id) {
                let feedName = this.list.find(item => Number(item.id) === Number(id)).feedTo.name;
                this.$confirm(`${this.$t('lk.recommendations.messages.accept')} ${feedName}?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    if (Number(this.editing) === Number(id)) {
                        this.editingFeed(null);
                        this.setTab(this.prevTab);
                    }
                    this.acceptRecommendation({id, userId: this.userId}).then(feed => {
                        this.appendFeed(feed);
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.recommendations.messages.acceptSuccess'),
                            message: feedName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
            onDecline (id) {
                let feedName = this.list.find(item => Number(item.id) === Number(id)).feedTo.name;
                this.$confirm(`${this.$t('lk.recommendations.messages.decline')} ${feedName}?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    if (Number(this.editing) === Number(id)) {
                        this.editingFeed(null);
                        this.setTab(this.prevTab);
                    }
                    this.declineRecommendation({id, userId: this.userId}).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.recommendations.messages.declineSuccess'),
                            message: feedName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    .aside__block-items__item__content {
        min-height: 25px;

        &.selected {
            span {
                color: $color-blue;
            }
        }
        span {
            cursor: pointer;

            &:hover {
                color: $color-blue;
            }
        }
    }
</style>