<template>
    <div id="app" class="iqp-callisto-lk" v-loading="(!ready && !error) || loading">
        <router-view v-if="ready"></router-view>
        <modals-container></modals-container>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import Lk from './views/Lk'
    import CONST from './const';

    export default {
        name: 'LkApp',
        components: {
            Lk,
        },
        data () {
            return {
                ready: false,
                error: false,
                loading: false,
            };
        },
        created() {
            document.title = this.$t('lk.title');
            let allChannelsPromise = new Promise((resolve, reject) => {
                this.getAllChannels().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let channelsPromise = new Promise((resolve, reject) => {
                this.getChannels().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let userChannelsPromise = new Promise((resolve, reject) => {
                this.getUserChannels(this.userId).then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let languagesPromise = new Promise((resolve, reject) => {
                this.getLanguages().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let feedsPromise = new Promise((resolve, reject) => {
                this.getFeeds(this.userId).then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let favoritesPromise = new Promise((resolve, reject) => {
                this.getFavorites(this.userId).then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let generalFavoritesPromise = new Promise((resolve, reject) => {
                this.getGeneralFavorites(this.userId).then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let settingsPromise = new Promise((resolve, reject) => {
                this.getSettings().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let usersPromise = new Promise((resolve, reject) => {
                this.getUsers().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let groupsPromise = new Promise((resolve, reject) => {
                this.getGroups().then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            let recommendationsPromise = new Promise((resolve, reject) => {
                this.getRecommendations(this.userId).then(
                    () => {resolve()},
                    error => {reject(error)},
                );
            });
            Promise.all([
                allChannelsPromise,
                channelsPromise,
                userChannelsPromise,
                languagesPromise,
                feedsPromise,
                favoritesPromise,
                generalFavoritesPromise,
                settingsPromise,
                usersPromise,
                groupsPromise,
                recommendationsPromise
            ]).then(
                () => {
                    this.ready = true;
                },
                error => {
                    this.error = true;
                    this.$alert(this.$t('lk.errors.requestError'), this.$t('error'), {type: 'error'}).then(
                        () => {},
                        () => {}
                    );
                },
            );
            CONST.EventBus.$on(CONST.EVENTS.LOADING, this.setLoading);
        },
        computed: {
            ...mapState({
                userId: state => state.app.user.id,
            }),
        },
        methods: {
            ...mapActions({
                getUserChannels: 'userChannels',
                getChannels: 'channels',
                getAllChannels: 'allChannels',
                getLanguages: 'languages',
                getFeeds: 'feeds',
                getFavorites: 'favorites',
                getGeneralFavorites: 'generalFavorites',
                getSettings: 'settings',
                getUsers: 'users',
                getGroups: 'groups',
                getRecommendations: 'recommendations',
            }),
            setLoading (value) {
                this.loading = value;
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.LOADING, this.setLoading);
        }
    }
</script>

<style lang="scss" scoped>
    @import './styles/element-ui';

    .iqp-callisto-lk {
        height: 100%;
    }
</style>
<style lang="css" scoped>
    @import '../../../src/assets/fonts/Roboto/roboto.css';
</style>