<template>
    <el-form
        :model="feedForm"
        :rules="feedFormRules"
        ref="feedForm"
        :label-position="'top'"
        class="feed-form"
    >
        <el-form-item prop="name" :label="$t('lk.feedForm.labels.name')">
            <el-input v-model="feedForm.name" :placeholder="$t('lk.feedForm.placeholders.name')"></el-input>
        </el-form-item>
        <el-form-item prop="description" :label="$t('lk.feedForm.labels.description')" v-show="!fast">
            <el-input v-model="feedForm.description" :placeholder="$t('lk.feedForm.placeholders.description')"></el-input>
        </el-form-item>
        <el-form-item prop="textPredicate" :label="$t('lk.feedForm.labels.textPredicate')">
            <el-input v-model="feedForm.textPredicate" :placeholder="$t('lk.feedForm.placeholders.textPredicate')"></el-input>
        </el-form-item>
        <el-form-item prop="documentTypes" :label="$t('lk.feedForm.labels.documentTypes')">
            <el-checkbox-group v-model="feedForm.documentTypes" @change="onDocumentTypesChange">
                <el-checkbox label="smi">{{$t('lk.feedForm.labels.smi')}}</el-checkbox>
                <el-checkbox label="socnet">{{$t('lk.feedForm.labels.socnet')}}</el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item prop="agencies" :label="$t('lk.feedForm.labels.sources')" v-show="!fast">
            <el-select
                v-model="feedForm.agencies"
                multiple
                filterable
                remote
                reserve-keyword
                :placeholder="$t('lk.feedForm.placeholders.sources')"
                :remote-method="getSources"
                :loading="loadingSources"
                :popper-append-to-body="false"
            >
                <el-option
                    v-for="source in sources"
                    :key="source.id"
                    :label="source.name"
                    :value="source.id"
                ></el-option>
            </el-select>
        </el-form-item>
        <el-card v-show="!fast && !!settingsObjects.length" :header="$t('lk.feedForm.labels.objects')">
            <object-class v-for="settingsObject in settingsObjects" :settingsObject="settingsObject" :setObjects="setObjects" :presetObjects="objects"></object-class>
        </el-card>
        <el-form-item prop="channels" :label="$t('lk.feedForm.labels.channels')">
            <el-input
                size="mini"
                :placeholder="$t('lk.feedForm.placeholders.channelName')"
                v-model="channelNameSearch"
                clearable
                :class="`channel-search-input${fast ? ' channel-search-input--fast' : ''}`"
            ></el-input>
            <el-checkbox-group
                class="el-checkbox-group--list"
                v-model="feedForm.channels"
            >
                <el-checkbox
                    v-for="(channel, index) in filteredChannels"
                    :label="channel.id"
                    :key="channel.id"
                    name="channels"
                    v-show="!isShortChannelsList || (isShortChannelsList && index <= CHANNELS_COUNT)"
                >
                    {{channel.name}}
                </el-checkbox>
            </el-checkbox-group>
            <div style="clear: both; padding-top: 10px">
                <el-button v-if="filteredChannels.length > CHANNELS_COUNT && isShortChannelsList" @click="isShortChannelsList = false">показать все ({{channels.length}})</el-button>
                <el-button v-if="filteredChannels.length > CHANNELS_COUNT && !isShortChannelsList" @click="isShortChannelsList = true">свернуть</el-button>
            </div>
        </el-form-item>
        <el-form-item prop="languages" :label="$t('lk.feedForm.labels.languages')" v-show="!fast">
            <el-checkbox-group class="el-checkbox-group--list" v-model="feedForm.languages">
                <el-checkbox
                    v-for="language in languages"
                    :label="language.id"
                    :key="language.id"
                    name="languages"
                >
                    {{language.name}}
                </el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-card v-show="!fast" :header="$t('lk.feedForm.labels.recommendations')">
            <recommendations :setRecommendation="setRecommendation" :editingFeed="editingFeed"></recommendations>
        </el-card>
    </el-form>
</template>

<script>
    import {mapState} from 'vuex';
    import CONST from '../../const';
    import ObjectClass from './object-class';
    import Recommendations from './recommendations';

    const CHANNELS_COUNT = 10;

    export default {
        name: 'FeedFormDocuments',
        props: [
            'fast',
        ],
        components: {
            ObjectClass,
            Recommendations,
        },
        data () {
            return {
                CHANNELS_COUNT,
                editingFeed: null,
                feedForm: {
                    name: '',
                    description: '',
                    textPredicate: '',
                    agencies: [],
                    channels: [],
                    languages: [],
                    documentTypes: [],
                },
                feedFormRules: {
                    name: [
                        {required: true, message: 'Поле не может быть пустым', trigger: 'blur'},
                    ],
                },
                sources: [],
                loadingSources: false,
                channelNameSearch: '',
                isShortChannelsList: true,
                prevDocumentTypesValue: [],
                objects: {},
                recommendationId: '',
                recommendationUsers: [],
                recommendationGroups: [],
                recommendationDescription: '',
                recommendation: true,
            };
        },
        computed: {
            ...mapState({
                channels: state => state.channels.allList,
                languages: state => state.languages.list,
                user: state => state.app.user,
                editing: state => state.feeds.editing,
                preFill: state => state.feeds.preFill,
                feeds: state => state.feeds.list,
                settingsObjects: state => state.settings.objects,
                users: state => state.users.list,
                groups: state => state.groups.list,
            }),
            dataObject () {
                let creator = JSON.parse(JSON.stringify(this.user));
                let owner = JSON.parse(JSON.stringify(this.user));
                if (this.editing) {
                    let editingFeed = this.feeds.find(item => Number(item.id) === Number(this.editing));
                    creator = JSON.parse(JSON.stringify(editingFeed.creator));
                    owner = JSON.parse(JSON.stringify(editingFeed.owner));
                }
                let objects = [];
                if (!!Object.keys(this.objects).length) {
                    Object.keys(this.objects).forEach(key => {
                        this.objects[key].forEach(id => {
                            objects.push({
                                schemaAlias: key,
                                objectId: id,
                            });
                        });
                    });
                }
                let dataObject = {
                    type: CONST.FEED_TYPES.DOCUMENTS,
                    name: this.feedForm.name,
                    description: this.feedForm.description,
                    creator,
                    owner,
                    settings: {
                        language: this.feedForm.languages,
                        channels: this.feedForm.channels,
                        textPredicate: this.feedForm.textPredicate,
                        agencies: this.feedForm.agencies,
                        documentTypes: {
                            smi: this.feedForm.documentTypes.includes('smi'),
                            socnet: this.feedForm.documentTypes.includes('socnet'),
                        },
                    },
                };
                if (!!objects.length) {
                    dataObject.settings.objects = objects;
                }
                if (!!this.recommendationUsers.length || !!this.recommendationGroups.length) {
                    dataObject.recommendation = {
                        userIds: this.recommendationUsers,
                        groupIds: this.recommendationGroups,
                        description: this.recommendationDescription,
                        recommend: this.recommendation,
                    };
                    if (this.recommendationId) {
                        dataObject.recommendation.recommendationId = this.recommendationId;
                    }
                }
                if (this.editing) {
                    dataObject.id = this.editing;
                }
                return dataObject;
            },
            filteredChannels () {
                let channels = JSON.parse(JSON.stringify(this.channels));
                channels = channels.filter(item => {
                    let result = true;
                    if (!!this.channelNameSearch.length) {
                        result = item.name.toLowerCase().includes(this.channelNameSearch.toLowerCase());
                    }
                    if (this.feedForm.channels.includes(item.id)) {
                        result = true;
                    }
                    return result;
                });
                if (channels.length <= CHANNELS_COUNT) {
                    this.isShortChannelsList = true;
                }
                return channels;
            },
        },
        created() {
            this.initData();
        },
        watch: {
            '$store.state.feeds.editing': function (newId, oldId) {
                if (newId !== oldId) {
                    this.initData();
                }
            }
        },
        methods: {
            initData () {
                if (this.editing) {
                    this.editingFeed = this.feeds.find(item => Number(item.id) === Number(this.editing));
                    this.feedForm.name = this.editingFeed.name;
                    this.feedForm.description = this.editingFeed.description;
                    if (this.editingFeed.settings && this.editingFeed.settings.language) {
                        this.feedForm.languages = this.editingFeed.settings.language;
                    } else {
                        this.feedForm.languages = this.languages.filter(item => item.alias === 'RU' || item.alias === 'EN').map(item => item.id);
                    }
                    if (this.editingFeed.settings && this.editingFeed.settings.channels) {
                        this.feedForm.channels = this.editingFeed.settings.channels;
                    } else {
                        this.feedForm.channels = [];
                    }
                    if (this.editingFeed.settings && this.editingFeed.settings.textPredicate) {
                        this.feedForm.textPredicate = this.editingFeed.settings.textPredicate;
                    } else {
                        this.feedForm.textPredicate = '';
                    }
                    if (this.editingFeed.settings && this.editingFeed.settings.agencies) {
                        this.loadingSources = true;
                        this.$services.agencyService.search({ids: this.editingFeed.settings.agencies}).then(resp => {
                            this.loadingSources = false;
                            this.sources = resp.data.list;
                        });
                        this.feedForm.agencies = this.editingFeed.settings.agencies;
                    } else {
                        this.feedForm.agencies = [];
                    }
                    if (this.editingFeed.settings && this.editingFeed.settings.documentTypes) {
                        let types = [];
                        Object.keys(this.editingFeed.settings.documentTypes).forEach(key => {
                            if (this.editingFeed.settings.documentTypes[key]) {
                                types.push(key);
                            }
                        });
                        this.feedForm.documentTypes = types;
                    } else {
                        this.feedForm.documentTypes = ['smi', 'socnet'];
                    }
                    if (this.editingFeed.settings && this.editingFeed.settings.objects) {
                        this.editingFeed.settings.objects.forEach(item => {
                            if (!this.objects.hasOwnProperty(item.schemaAlias)) {
                                this.objects[item.schemaAlias] = [];
                            }
                            this.objects[item.schemaAlias].push(item.objectId);
                        });
                    }
                    if (this.preFill && this.preFill.hasOwnProperty('object')) {
                        if (!this.objects[this.preFill.object.schema.alias]) {
                            this.objects[this.preFill.object.schema.alias] = [];
                        }
                        if (!this.objects[this.preFill.object.schema.alias].includes(this.preFill.object.id)) {
                            this.objects[this.preFill.object.schema.alias].push(this.preFill.object.id);
                        }
                    }
                } else {
                    this.feedForm.name = '';
                    this.feedForm.description = '';
                    this.feedForm.languages = this.languages.filter(item => item.alias === 'RU' || item.alias === 'EN').map(item => item.id);
                    this.feedForm.channels = [];
                    this.feedForm.agencies = [];
                    this.feedForm.textPredicate = '';
                    this.feedForm.documentTypes = ['smi', 'socnet'];
                    this.feedForm.objects = {};
                    if (this.preFill) {
                        Object.keys(this.preFill.data).forEach(key => {
                            if (key !== 'object') {
                                this.feedForm[key] = this.preFill.data[key];
                            }
                        });
                        if (this.preFill.hasOwnProperty('object')) {
                            this.objects[this.preFill.object.schema.alias] = [this.preFill.object.id];
                        }
                    }
                }
            },
            getSources (query) {
                this.loadingSources = true;
                this.$services.agencyService.search({
                    fullness: 'FULL',
                    sortBy: 'count',
                    sortOrder: 'DESC',
                    needPersonalFolderIds: true,
                    isInStopList: false,
                    nameOrUrl: query,
                    datesFilterTo: {
                        type: 'ALL',
                        attribute: 'INSERTIONDATE',
                        start: null,
                        end: null,
                    },
                    isSubmitted: null,
                    bindings: [],
                    geoObjectCountryIds: [],
                    offset: 0,
                    count: 50
                }).then(resp => {
                    this.loadingSources = false;
                    this.sources = resp.data.list;
                });
            },
            onDocumentTypesChange (value) {
                if (!value.length) {
                    this.feedForm.documentTypes = this.prevDocumentTypesValue;
                } else {
                    this.prevDocumentTypesValue = value;
                }
            },
            setObjects (alias, value) {
                this.objects[alias] = value;
            },
            setRecommendation (recommendationId, usersAndGroups, description, recommend) {
                let usersIds = usersAndGroups.filter(id => {
                    return this.users.some(user => user.id === id);
                });
                let groupsIds = usersAndGroups.filter(id => {
                    return this.groups.some(group => group.id === id);
                });
                this.recommendationId = recommendationId;
                this.recommendationUsers = usersIds;
                this.recommendationGroups = groupsIds;
                this.recommendationDescription = description;
                this.recommendation = recommend;
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    .feed-form {
        padding-right: 17px;

        /deep/
        .el-select {
            width: 100%;

            .el-input.is-focus {
                input {
                    border-color: $color_blue-light;
                }
            }
            &__tags {
                .el-tag {
                    font-size: 15px;
                    padding: 5px 10px;
                    height: auto;

                    &__close {
                        padding: 11px;

                        &:before {
                            font-size: 15px;
                            transform: translate(-7px, -7px);
                        }
                    }
                }
            }
        }
        /deep/
        .channel-search-input {
            width: 50%;
            margin-bottom: 10px;

            input {
                height: auto;
                line-height: inherit;
            }
            &--fast {
                width: 100%;
            }
        }
        .el-card {
            margin-bottom: 10px;
            overflow: visible;
        }
    }
</style>