<template>
    <el-form-item :label="settingsObject.name">
        <el-select
            v-model="value"
            multiple
            filterable
            remote
            reserve-keyword
            :placeholder="settingsObject.name"
            :remote-method="getObjects"
            :popper-append-to-body="false"
            :loading="loadingObjects"
            @change="onChange"
        >
            <el-option
                v-for="object in objects"
                :key="object.id"
                :label="object.oneString"
                :value="object.id"
            ></el-option>
        </el-select>
    </el-form-item>
</template>

<script>
    export default {
        name: 'ObjectClass',
        props: [
            'settingsObject',
            'setObjects',
            'presetObjects',
        ],
        data () {
            return {
                value: [],
                objects: [],
                loadingObjects: false,
            };
        },
        created () {
            if (this.presetObjects.hasOwnProperty(this.settingsObject.alias)) {
                let presetValue = this.presetObjects[this.settingsObject.alias];
                if (!!presetValue.length) {
                    this.loadingObjects = true;
                    this.$services.innerObject.list({ids:[presetValue], templates:['listItemInfo']}).then(
                        resp => {
                            this.loadingObjects = false;
                            this.objects = resp.data.list;
                            this.value = presetValue;
                        }
                    );
                }
            }
        },
        methods: {
            getObjects (query) {
                this.$services.innerObject.list({
                    templates: [
                        'listItemInfo',
                    ],
                    offset: 0,
                    count: 10,
                    superClass: this.settingsObject.alias,
                    restrictions: [
                        {
                            alias: 'Name',
                            operator: 'FT_EQ',
                            values: [
                                query,
                            ],
                        }
                    ],
                    fuzzyDistance: 1,
                    objectsOnControlOnly: false,
                    groupJoinLogic: 'OR',
                }).then(
                    resp => {
                        this.objects = resp.data.list;
                    }
                );
            },
            onChange (value) {
                this.setObjects(this.settingsObject.alias, value);
            },
        },
    }
</script>

<style lang="scss" scoped>
    //
</style>