<template>
    <div>
        <el-form-item :label="$t('lk.feedForm.labels.usersAndGroups')">
            <el-select
                v-model="groupsAndUsers"
                multiple
                filterable
                remote
                reserve-keyword
                :placeholder="$t('lk.feedForm.placeholders.usersAndGroups')"
                :remote-method="getGroupsAndUsers"
                :loading="loading"
                :popper-append-to-body="false"
                @change="onChangeUsers"
            >
                <el-option
                    v-for="item in list"
                    :key="item.id"
                    :label="item.type === 'user' ? `${item.surname} ${item.name}` : item.name"
                    :value="item.id"
                >
                    <span v-if="item.type === 'user'">
                        <i class="fas fa-user"></i>&nbsp;{{item.surname}}&nbsp;{{item.name}}
                    </span>
                    <span v-else>
                        <i class="fas fa-users"></i>&nbsp;{{item.name}}
                    </span>
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('lk.feedForm.labels.recommendationDescription')">
            <el-input v-model="description" :placeholder="$t('lk.feedForm.placeholders.recommendationDescription')" @change="onChangeDescription"></el-input>
        </el-form-item>
        <el-form-item :label="$t('lk.feedForm.labels.recommendationRepeat')" v-show="editing">
            <el-switch
                v-model="recommend"
                active-color="#0077FF"
                @change="onChangeRecommend"
                :active-text="$t('yes')"
                :inactive-text="$t('no')"
            ></el-switch>
        </el-form-item>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'Recommendations',
        props: [
            'setRecommendation',
            'editingFeed',
        ],
        data () {
            return {
                list: [],
                recommendationId: '',
                groupsAndUsers: [],
                description: '',
                recommend: true,
                loading: false,
            };
        },
        mounted () {
            this.recommend = !this.editing;
            if (this.editingFeed) {
                if (this.editingFeed.hasOwnProperty('recommendation')) {
                    this.recommendationId = this.editingFeed.recommendation.recommendationId;
                    this.groupsAndUsers = [...this.editingFeed.recommendation.userIds, ...this.editingFeed.recommendation.groupIds];
                    this.description = this.editingFeed.recommendation.description;
                    let users = this.users.filter(user => this.groupsAndUsers.includes(user.id));
                    let groups = this.groups.filter(group => this.groupsAndUsers.includes(group.id));
                    this.list = [...users, ...groups];
                }
            }
        },
        computed: {
            ...mapState({
                users: state => state.users.list,
                groups: state => state.groups.list,
                editing: state => state.feeds.editing,
            }),
        },
        methods: {
            getGroupsAndUsers (query) {
                let users = this.users.filter(user => {
                    return user.surname.toLowerCase().includes(query.toLowerCase()) || user.name.toLowerCase().includes(query.toLowerCase());
                });
                let groups = this.groups.filter(group => {
                    return group.name.toLowerCase().includes(query.toLowerCase());
                });
                users.sort((a,b) => (a.surname.toLowerCase() > b.surname.toLowerCase()) ? -1 : ((b.surname.toLowerCase() > a.surname.toLowerCase()) ? 1 : 0));
                groups.sort((a,b) => (a.name.toLowerCase() > b.name.toLowerCase()) ? -1 : ((b.name.toLowerCase() > a.name.toLowerCase()) ? 1 : 0));
                this.list = [...users, ...groups];
            },
            onChangeUsers (val) {
                this.setRecommendation(this.recommendationId, val, this.description, this.recommend);
            },
            onChangeDescription (val) {
                this.setRecommendation(this.recommendationId, this.groupsAndUsers, val, this.recommend);
            },
            onChangeRecommend (val) {
                this.setRecommendation(this.recommendationId, this.groupsAndUsers, this.description, val);
            },
        },
    }
</script>

<style lang="scss" scoped>
    //
</style>