<template>
    <div class="main-container">
        <logout></logout>
        <notifications></notifications>
        <div class="layout">
            <aside class="aside">
                <el-scrollbar class="aside-scrollbar">
                    <aside-channels></aside-channels>
                    <recommendations></recommendations>
                    <aside-feeds></aside-feeds>
                    <aside-favorites></aside-favorites>
                    <general-favorites></general-favorites>
                </el-scrollbar>
            </aside>
            <main class="main">
                <search-form v-if="isVisibleSearchForm"></search-form>
                <tabs v-if="isVisibleTabs"></tabs>
                <channel-info v-if="isVisibleChannel"></channel-info>
                <div class="main__content">
                    <channels v-if="isVisibleChannelsFeed"></channels>
                    <channel-feed v-if="isVisibleChannel"></channel-feed>
                    <documents v-if="isVisibleDocumentsFeed"></documents>
                    <feed-form v-if="isVisibleFeedForm"></feed-form>
                </div>
            </main>
            <div v-if="show.fastFeedForm">
                <feed-fast-form-wrapper :close="closeFastFeedForm"></feed-fast-form-wrapper>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CONST from '../const';
    import Logout from '../components/logout';
    import AsideChannels from '../components/aside/channels';
    import AsideFeeds from '../components/aside/feeds';
    import AsideFavorites from '../components/aside/favorites';
    import SearchForm from '../components/search-form';
    import Tabs from '../components/tabs';
    import Channels from '../components/channels';
    import ChannelInfo from '../components/channel-info';
    import ChannelFeed from '../components/channel-feed';
    import Documents from '../components/documents';
    import FeedForm from '../components/feed-form';
    import FeedFastFormWrapper from '../components/feed-fast-form-wrapper';
    import Notifications from '../components/notifications/notifications';
    import Recommendations from '../components/aside/recommendations';
    import GeneralFavorites from '../components/aside/general-favorites';

    export default {
        name: 'Lk',
        components: {
            Logout,
            AsideChannels,
            AsideFeeds,
            AsideFavorites,
            SearchForm,
            Tabs,
            Channels,
            ChannelInfo,
            ChannelFeed,
            Documents,
            FeedForm,
            FeedFastFormWrapper,
            Notifications,
            Recommendations,
            GeneralFavorites,
        },
        data () {
            return {
                show: {
                    fastFeedForm: false,
                },
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.SHOW_FAST_FEED_FORM, () => {
                this.show.fastFeedForm = true;
            });
            CONST.EventBus.$on(CONST.EVENTS.CREATE_FEED_BY_OBJECT, object => {
                this.preFillFeed({
                    data: {},
                    type: CONST.FEED_TYPES.DOCUMENTS,
                    object,
                });
                this.setTab(CONST.TABS.FEED_FORM);
            });
            CONST.EventBus.$on(CONST.EVENTS.ADD_OBJECT_TO_FEED, data => {
                this.preFillFeed({
                    data: {},
                    type: CONST.FEED_TYPES.DOCUMENTS,
                    object: data.object,
                });
                this.editingFeed(data.feedId);
                this.setTab(CONST.TABS.FEED_FORM);
            });
        },
        mounted () {
            this.defaultState();
            document.addEventListener('wheel', this.onDocumentScroll);
        },
        computed: {
            ...mapState({
                userChannelsList: state => state.channels.userList,
                feedsList: state => state.feeds.list,
                tab: state => state.tabs.value,
            }),
            isVisibleSearchForm () {
                return this.tab !== CONST.TABS.FEED_FORM;
            },
            isVisibleChannelsFeed () {
                return this.tab === CONST.TABS.CHANNELS;
            },
            isVisibleTabs () {
                return this.tab === CONST.TABS.DOCUMENTS || this.tab === CONST.TABS.CHANNELS;
            },
            isVisibleChannel () {
                return this.tab === CONST.TABS.CHANNEL;
            },
            isVisibleDocumentsFeed () {
                return this.tab === CONST.TABS.DOCUMENTS;
            },
            isVisibleFeedForm () {
                return this.tab === CONST.TABS.FEED_FORM;
            },
        },
        methods: {
            ...mapActions({
                setChannel: 'setCurrentChannel',
                unsubscribe: 'unsubscribe',
                setTab: 'setTab',
                selectFeeds: 'selectFeeds',
                preFillFeed: 'preFillFeed',
                editingFeed: 'editingFeed',
            }),
            onDocumentScroll (event) {
                if (event.target.classList.contains('main-container')) {
                    CONST.EventBus.$emit(CONST.EVENTS.WHEEL_OUTSIDE, event.deltaY);
                }
            },
            defaultState () {
                switch (true) {
                    case !!this.userChannelsList.length && !this.feedsList.length:
                        this.setChannel(this.userChannelsList[0].id);
                        this.setTab(CONST.TABS.CHANNEL);
                        break;
                    case !!this.feedsList.length:
                        this.selectFeeds([this.feedsList[0].id.toString()]);
                        this.setTab(CONST.TABS.DOCUMENTS);
                        this.$nextTick(() => {
                            CONST.EventBus.$emit(CONST.EVENTS.SEARCH, CONST.TABS.DOCUMENTS);
                        });
                        break;
                }
            },
            closeFastFeedForm () {
                this.show.fastFeedForm = false;
            },
        },
        beforeDestroy() {
            document.removeEventListener('wheel', this.onDocumentScroll);
        }
    }
</script>

<style lang="scss" scoped>
    @import '../styles/main';
</style>
<style lang="scss">
    html, body {
        height: 100%;
    }
    .el-message-lk {
        top: unset !important;
        bottom: 20px;
    }
    .dropdown-menu--bordered {
        border: 1px solid #46494D;
    }
    .dropdown-menu--bordered .popper__arrow {
        border-bottom-color: #46494D !important;
    }
</style>
