<template>
    <el-image
        ref="elImage"
        :style="`width: ${width}px; height: ${height}px`"
        :src="imagesList[0]"
        :preview-src-list="imagesList"
        fit="cover"
        @click="calc"
    >
        <div slot="error">
            <i class="el-icon-picture-outline"></i>
        </div>
    </el-image>
</template>

<script>
    import Vue from 'vue';
    import store from '../../store';
    import {mapState} from 'vuex';
    import ImageViewerFaces from './image-viewer-faces';

    export default {
        name: 'ImageViewer',
        props: [
            'width',
            'height',
            'imagesIds',
        ],
        components: {
            ImageViewerFaces,
        },
        data () {
            return {
                imagesList: [],
                closeButton: null,
                prevButton: null,
                nextButton: null,
                leftRotationButton: null,
                rightRotationButton: null,
                zoomInButton: null,
                zoomOutButton: null,
                whoHereButton: null,
                downloadButton: null,
                facesComponent: null,
            };
        },
        created () {
            this.imagesList = this.imagesIds.map(item => `${this.appRoot}/iqplatform/attachment?attachId=${item}`);
        },
        computed: {
            ...mapState({
                isFaceRecognitionAvailable: state => state.app.systemActions('FACE_RECOGNITION'),
                appRoot: state => state.app.root,
            }),
        },
        mounted () {
            let element = this.$refs.elImage.$el;
            // close on mask click
            this.closeButton = element.querySelector('.el-image-viewer__close');
            let imageViewerMask = element.querySelector('.el-image-viewer__mask');
            imageViewerMask.addEventListener('click', () => {
                this.closeButton.click();
            });
            if (this.isFaceRecognitionAvailable) {
                // prev click
                this.prevButton = element.querySelector('.el-image-viewer__prev');
                this.prevButton && this.prevButton.addEventListener('click', this.prev);
                // next click
                this.nextButton = element.querySelector('.el-image-viewer__next');
                this.nextButton && this.nextButton.addEventListener('click', this.next);
                // left rotation
                this.leftRotationButton = element.querySelector('.el-icon-refresh-left');
                this.leftRotationButton && this.leftRotationButton.addEventListener('click', this.calc);
                // right rotation
                this.rightRotationButton = element.querySelector('.el-icon-refresh-right');
                this.rightRotationButton && this.rightRotationButton.addEventListener('click', this.calc);
                // zoom in
                this.zoomInButton = element.querySelector('.el-icon-zoom-in');
                this.zoomInButton && this.zoomInButton.addEventListener('click', this.calc);
                // zoom out
                this.zoomOutButton = element.querySelector('.el-icon-zoom-out');
                this.zoomOutButton && this.zoomOutButton.addEventListener('click', this.calc);
                // image actions
                let actionsContainer = element.querySelector('.el-image-viewer__actions__inner');
                if (actionsContainer) {
                    this.whoHereButton = this.createElement({tag: 'i', classes: ['combined-icons'], attributes: [{name: 'title', value: 'Кто здесь'}]});
                    let mainIcon = this.createElement({tag: 'i', classes: ['fas', 'fa-user-clock']});
                    let additionalIcon = this.createElement({tag: 'i', classes: ['fas', 'fa-question']});
                    this.whoHereButton.appendChild(mainIcon);
                    this.whoHereButton.appendChild(additionalIcon);
                    actionsContainer.prepend(this.whoHereButton);
                    this.whoHereButton.addEventListener('click', this.doWhoHere);
                    this.downloadButton = this.createElement({tag: 'i', classes: ['el-icon-download'], attributes: [{name: 'title', value: 'Скачать'}]});
                    actionsContainer.appendChild(this.downloadButton);
                    this.downloadButton.addEventListener('click', this.doDownload);
                }
                // add faces component
                let wrapper = element.querySelector('.el-image-viewer__wrapper');
                let container = document.createElement('div');
                wrapper.appendChild(container);
                const FacesCtor = Vue.extend(ImageViewerFaces);
                this.facesComponent = new FacesCtor({
                    store,
                    propsData: {
                        close: this.onClose,
                        imagesList: this.imagesList,
                        imagesIds: this.imagesIds,
                        setWhoHereButtonActiveStatus: this.setWhoHereButtonActiveStatus,
                    }
                }).$mount(container);
            }
        },
        methods: {
            onClose () {
                this.closeButton && this.closeButton.click();
            },
            prev () {
                this.facesComponent.prev();
            },
            next () {
                this.facesComponent.next();
            },
            calc () {
                this.isFaceRecognitionAvailable && this.facesComponent.calc();
            },
            doWhoHere () {
                this.facesComponent.whoHere();
            },
            setWhoHereButtonActiveStatus (value) {
                if (value) {
                    this.whoHereButton.classList.add('active');
                } else {
                    this.whoHereButton.classList.remove("active");
                }
            },
            doDownload () {
                let xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = () => {
                    let a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhr.response);
                    a.download = `${this.imagesIds[this.facesComponent.currentIndex]}.${xhr.response.type.replace(/.*\//gmi, '')}`;
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    a.click();
                    a.remove()
                };
                xhr.open('GET', `${this.appRoot}/iqplatform/attachment?attachId=${this.imagesIds[this.facesComponent.currentIndex]}`);
                xhr.send();
            },
            createElement (data) {
                let element = document.createElement(data.tag);
                if (data.classes) {
                    data.classes.forEach(item => {
                        element.classList.add(item);
                    });
                }
                if (data.attributes) {
                    data.attributes.forEach(item => {
                        element.setAttribute(item.name, item.value);
                    });
                }
                return element;
            },
        },
        beforeDestroy() {
            this.prevButton && this.prevButton.removeEventListener('click', this.prev);
            this.nextButton && this.nextButton.removeEventListener('click', this.next);
            this.leftRotationButton && this.leftRotationButton.removeEventListener('click', this.calc);
            this.rightRotationButton && this.rightRotationButton.removeEventListener('click', this.calc);
            this.zoomInButton && this.zoomInButton.removeEventListener('click', this.calc);
            this.zoomOutButton && this.zoomOutButton.removeEventListener('click', this.calc);
            this.whoHereButton && this.whoHereButton.removeEventListener('click', this.doWhoHere);
            this.downloadButton && this.downloadButton.removeEventListener('click', this.doDownload);
        }
    }
</script>

<style lang="scss" scoped>
    .el-image {
        /deep/
        &-viewer {
            &__btn {
                border-radius: 5px;
                background: #606266;
                color: white;
                opacity: .8;
            }
            &__actions {
                background: transparent;
                padding: 0;

                &__inner {
                    color: #6a6e73;
                    justify-content: center;

                    i {
                        border-radius: 5px;
                        background: #ffffff;
                        padding: 10px;
                        cursor: pointer;

                        &:first-child {
                            margin-right: 10px;
                        }
                        &.active {
                            color: #0077FF !important;

                            i:not(:first-child) {
                                background: #0077FF !important;
                            }
                        }
                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                    .el-icon {
                        &-zoom {
                            &-out {
                                border-radius: 5px 0 0 5px;
                            }
                            &-in {
                                border-radius: 0;
                                border-right: 1px solid #cfdff1;
                            }
                        }
                        &-full-screen {
                            display: none;
                        }
                        &-c-scale-to-original {
                            display: none;
                        }
                        &-refresh {
                            &-left {
                                border-radius: 0;
                            }
                            &-right {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }
                    .combined-icons {
                        padding: 0;
                        position: relative;

                        i {
                            font-size: 23px;
                            margin: 0;

                            &:not(:first-child) {
                                background: #6a6e73;
                                color: #ffffff;
                                border-radius: 100%;
                                position: absolute;
                                right: 10px;
                                bottom: 10px;
                                font-size: 7px;
                                padding: 3px 4px;
                            }
                        }
                    }
                }
                &__divider {
                    display: none;
                }
            }
            &__canvas {
                img {
                    transition: none !important;
                }
            }
        }
    }
</style>