<template>
    <div class="wrapper" @click="onClose" ref="wrapper" @wheel="calc">
        <div :style="facesStyle" v-loading="loading" @click="stopPropagation($event)">
            <div v-if="isShowFaces">
                <image-viewer-face
                    :key="face.facedata"
                    v-for="face in faces[currentIndex].faces"
                    :face="face"
                    :scale="currentScale"
                    :rotate="currentRotate"
                    :selected="face.selected"
                    :faceClick="faceClick"
                    :rootImage="rootImage"
                ></image-viewer-face>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import ImageViewerFace from './image-viewer-face';

    const toDataURL = url => fetch(url)
        .then(response => response.blob())
        .then(blob => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.onerror = reject;
            reader.readAsDataURL(blob);
        }));

    export default {
        name: 'ImageViewerFaces',
        props: [
            'close',
            'imagesList',
            'imagesIds',
            'setWhoHereButtonActiveStatus',
        ],
        components: {
            ImageViewerFace,
        },
        data () {
            return {
                currentIndex: 0,
                currentScale: 1,
                currentRotate: 0,
                facesStyle: '',
                loading: false,
                faces: [],
                isShowFaces: false,
                rootImage: {
                    base64: '',
                    contentType: '',
                    name: '',
                    id: '',
                },
            };
        },
        created () {
            this.faces = this.imagesIds.map(item => {
                return {
                    imgId: item,
                    faces: [],
                    show: false,
                    loaded: false,
                };
            });
            window.addEventListener('resize', this.onResize);
        },
        computed: {
            ...mapState({
                apiUrl: state => state.api.url,
            }),
        },
        watch: {
            faces: {
                deep: true,
                handler () {
                    this.showFaces();
                },
            },
        },
        methods: {
            showFaces () {
                this.isShowFaces = this.faces[this.currentIndex].show && this.faces[this.currentIndex].loaded;
                this.setWhoHereButtonActiveStatus(this.isShowFaces);
            },
            calc () {
                this.$nextTick(() => {
                    let newImg = new Image();
                    newImg.onload = () => {
                        let targetImage = this.$refs.wrapper.parentElement.querySelector('img');
                        let scale = Number(/scale\(([^\)]*)\)/gmi.exec(targetImage.style.cssText)[1]);
                        let width = targetImage.offsetWidth * scale;
                        let height = targetImage.offsetHeight * scale;
                        let marginLeft = 0;
                        let marginTop = 0;
                        this.currentRotate = parseInt(/rotate\(([^\)]*)\)/gmi.exec(targetImage.style.cssText)[1]);
                        this.facesStyle = `width: ${width}px; min-width: ${width}px; height: ${height}px; min-height: ${height}px; transform: rotate(${this.currentRotate}deg); margin-left: ${marginLeft}px; margin-top: ${marginTop}px;`;
                        this.currentScale = width / targetImage.naturalWidth;
                    };
                    newImg.src = this.imagesList[this.currentIndex];
                });
            },
            onClose () {
                this.$root.$emit('CLOSE_CONTEXTMENU');
                this.faces = this.faces.map((face, index) => {
                    if (index === this.currentIndex) {
                        face.faces = face.faces.map(item => {
                            item.selected = false;
                            return item;
                        });
                    }
                    return face;
                });
                this.close();
            },
            prev () {
                if (this.imagesList.length > 1) {
                    if (this.currentIndex === 0) {
                        this.currentIndex = this.imagesList.length - 1;
                    } else {
                        this.currentIndex = this.currentIndex - 1;
                    }
                }
                this.calc();
                this.showFaces();
            },
            next () {
                if (this.imagesList.length > 1) {
                    if (this.currentIndex === (this.imagesList.length - 1)) {
                        this.currentIndex = 0;
                    } else {
                        this.currentIndex = this.currentIndex + 1;
                    }
                }
                this.calc();
                this.showFaces();
            },
            whoHere () {
                if (!this.faces[this.currentIndex].loaded && !this.faces[this.currentIndex].show) {
                    this.loading = true;
                    toDataURL(this.imagesList[this.currentIndex]).then(dataUrl => {
                        this.rootImage.base64 = dataUrl.split(',').pop();
                        this.rootImage.id = this.imagesIds[this.currentIndex];
                        fetch(`${this.apiUrl}?service=subsystem/isd/mds/iqfPhoto&method=analyze`, {
                            method: 'POST',
                            body: JSON.stringify({
                                blobIds: [this.imagesIds[this.currentIndex]],
                                extractAge: true,
                                extractEmbedding: true,
                                extractFaceBoxes: true,
                                extractGender: true,
                                returnFaceData: true,
                                similarFaces: {
                                    count: 100,
                                    needFiles: true,
                                },
                            }),
                        }).then(resp => {
                            this.loading = false;
                            resp.json().then(json => {
                                this.faces[this.currentIndex].faces = (json.length && json[0].faces.map(item => {
                                    item.selected = false;
                                    return item;
                                })) || [];
                                this.faces[this.currentIndex].loaded = true;
                                this.faces[this.currentIndex].show = true;
                                this.rootImage.contentType = json.length ? json[0].contentType : '';
                                this.rootImage.name = json.length ? json[0].name : '';
                            });
                        }).catch(error => {
                            this.loading = false;
                        });
                    });
                } else {
                    this.faces[this.currentIndex].show = !this.faces[this.currentIndex].show;
                }
            },
            faceClick (facedata) {
                this.faces = this.faces.map((face, index) => {
                    if (index === this.currentIndex) {
                        face.faces = face.faces.map(item => {
                            if (item.facedata === facedata) {
                                item.selected = !item.selected;
                            } else {
                                item.selected = false;
                            }
                            return item;
                        });
                    }
                    return face;
                });
            },
            stopPropagation (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            },
            onResize () {
                this.calc();
            },
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        }
    }
</script>

<style lang="scss" scoped>
    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>