<template>
    <div>
        <div class="contextmenu-container" @click="onClose($event)"></div>
        <div class="contextmenu" ref="contextmenu" @click="onSearch($event)">
            Поиск по фото
        </div>
    </div>
</template>

<script>
    import uuid from 'uuid';
    import {mapState} from 'vuex';
    import FacesHelper from './facesHelper';

    export default {
        name: 'ImageViewerFaceContextmenu',
        props: [
            'close',
            'face',
            'rootImage',
        ],
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
            }),
        },
        created () {
            this.$root.$on('CLOSE_CONTEXTMENU', this.onClose);
        },
        mounted () {
            this.$refs.contextmenu.style.left = `${event.offsetX}px`;
            this.$refs.contextmenu.style.top = `${event.offsetY}px`;
        },
        methods: {
            onClose (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                this.close();
            },
            onSearch (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                let bestSimilarFace = FacesHelper.getBestSimilarFace(this.face);
                let images = [{
                    uuid: uuid.v4(),
                    src: `attachment?contentType=${this.rootImage.contentType}&attachId=${this.rootImage.id}`,
                    name: this.rootImage.name,
                    faces: [
                        {
                            uuid: uuid.v4(),
                            src: `data:image/jpeg;base64,${this.face.facedata}`,
                            name: (bestSimilarFace && bestSimilarFace.name) || '',
                            embedding: this.face.embedding,
                            selected: true,
                        },
                    ]
                }];
                sessionStorage.setItem('isdSearchImages', JSON.stringify(images));
                window.open(`${this.appRoot}/action/new/components/isd?sessionImages`, '_blank');
                this.close();
            },
        },
        beforeDestroy() {
            this.$root.$off('CLOSE_CONTEXTMENU', this.onClose);
        }
    }
</script>

<style lang="scss" scoped>
    .contextmenu-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: default;
    }
    .contextmenu {
        position: absolute;
        background: white;
        color: black;
        padding: 10px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
        white-space: nowrap;
        cursor: pointer;
    }
</style>