<template>
    <div :class="`face${isSelected ? ' active' : ''}`" :style="faceStyle" @click="onFaceClick(currentFace.facedata, $event)" ref="faceContainer">
        <div :class="`info ${position}`" v-if="isSelected && FacesHelper.getBestSimilarFace(currentFace)" @click="doNothing($event)">
            <div class="person">
                <div class="person__name" v-if="!showData" @click="onShowData(true)">
                    <i class="el-icon-user-solid"></i>
                    {{FacesHelper.getBestSimilarFace(currentFace).name}}
                </div>
                <div class="person__data" v-else>
                    <div class="person__data__sources">
                        <el-button
                            v-for="gallery in galleries"
                            :key="gallery.origin"
                            :class="gallery.selected ? 'active' : ''"
                            @click="selectGallery(gallery.origin)"
                        >
                            {{gallery.name}}
                        </el-button>
                    </div>
                    <div class="person__data__face" v-for="similarFace in galleryFaces" :key="similarFace.id" v-if="similarFace.selected">
                        <div class="person__data__face-image">
                            <img :src="`${appRoot}/iqplatform/attachment?attachId=${similarFace.fileId}`">
                            <div>
                                <el-tag type="success" effect="dark" size="mini">{{(similarFace.score * 100).toFixed(1)}}%</el-tag>
                            </div>
                        </div>
                        <div>
                            <div class="info-block">
                                <div><i class="el-icon-user-solid"></i></div>
                                <div>{{similarFace.name}}</div>
                            </div>
                            <div class="info-block">
                                <div><i class="fas fa-folder-open"></i></div>
                                <div>{{similarFace.gallery.name}}</div>
                            </div>
                            <div class="info-block" v-if="similarFace.description">
                                <div><i class="fas fa-pen"></i></div>
                                <div>{{similarFace.description}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="person__data__actions">
                        <el-button @click="onShowData(false)">-</el-button>
                        <el-button
                            v-for="face in galleryFaces"
                            @click="selectSimilarFace(face.id)"
                        >
                            <i :class="face.selected ? 'fas fa-circle' : 'far fa-circle'"></i>
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
        <image-viewer-face-contextmenu v-if="showContextMenu" :close="closeContextMenu" :face="currentFace" :rootImage="rootImage"></image-viewer-face-contextmenu>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import FacesHelper from './facesHelper';
    import ImageViewerFaceContextmenu from './image-viewer-face-contextmenu';

    const positions = {
        '0': 'bottom',
        '90': 'right',
        '180': 'top',
        '270': 'left',
    };

    export default {
        name: 'ImageViewerFace',
        props: [
            'face',
            'scale',
            'rotate',
            'selected',
            'faceClick',
            'rootImage',
        ],
        components: {
            ImageViewerFaceContextmenu,
        },
        data () {
            return {
                FacesHelper,
                isSelected: false,
                currentFace: this.face,
                currentScale: this.scale,
                currentRotate: this.rotate,
                showData: false,
                galleries: [],
                galleryFaces: [],
                faceContainer: null,
                showContextMenu: false,
                contextMenuEvent: null,
            };
        },
        created () {
            this.galleries = FacesHelper.getGalleries(this.currentFace);
            if (!!this.galleries.length) {
                this.galleryFaces = FacesHelper.getGallerySimilarFaces(this.currentFace, this.galleries[0].origin);
            }
        },
        mounted () {
            this.$nextTick(() => {
                this.faceContainer = this.$refs.faceContainer;
                this.faceContainer.addEventListener('contextmenu', event => {
                    event.stopPropagation();
                    event.preventDefault();
                    this.contextMenuEvent = event;
                    this.showContextMenu = true;
                })
            });
        },
        watch: {
            selected: function (newVal) {
                this.isSelected = newVal;
                if (!this.isSelected) {
                    this.showData = false;
                }
            },
            scale: function (newVal) {
                this.currentScale = newVal;
            },
            rotate: function (newVal) {
                this.currentRotate = newVal;
            },
        },
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
            }),
            faceStyle () {
                let top = Number(this.currentFace.bbox[1]) * this.currentScale;
                let left = Number(this.currentFace.bbox[0]) * this.currentScale;
                let width = (Number(this.currentFace.bbox[2]) - Number(this.currentFace.bbox[0])) * this.currentScale;
                let height = (Number(this.currentFace.bbox[3]) - Number(this.currentFace.bbox[1])) * this.currentScale;
                return `top: ${top}px; left: ${left}px; width: ${width}px; height: ${height}px`;
            },
            position () {
                let deg = Math.abs(this.currentRotate) <= 270 ? this.currentRotate : this.currentRotate % 360;
                deg = deg < 0 ? deg + 360 : deg;
                return positions[deg.toString()];
            },
        },
        methods: {
            onFaceClick (facedata, event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                if (FacesHelper.getBestSimilarFace(this.currentFace)) {
                    this.faceClick(facedata);
                }
            },
            onShowData (value) {
                this.showData = value;
            },
            selectGallery (origin) {
                this.galleries = this.galleries.map(item => {
                    item.selected = item.origin === origin;
                    return item;
                });
                this.galleryFaces = FacesHelper.getGallerySimilarFaces(this.currentFace, origin);
            },
            selectSimilarFace (id) {
                this.galleryFaces = this.galleryFaces.map(item => {
                    item.selected = item.id === id;
                    return item;
                });
            },
            doNothing (event = null) {
                if (event) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            },
            closeContextMenu () {
                this.showContextMenu = false;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .face {
        position: absolute;
        border: 2px solid #ffffff;
        border-radius: 5px;
        cursor: pointer;

        &.active {
            border-color: #0077FF;
        }
        .info {
            position: absolute;
            padding: 10px 15px;
            background: #ffffff;
            color: #6a6e73;
            border-radius: 5px;
            transform-origin: left top;
            opacity: .8;
            z-index: 1;
            cursor: default;

            &:hover {
                z-index: 2;
            }
            &.bottom {
                transform: rotate(0deg) translateX(-50%);
                top: calc(100% + 10px);
                left: 50%;
            }
            &.right {
                transform: rotate(-90deg) translateX(-50%);
                left: calc(100% + 10px);
                top: 50%;
            }
            &.top {
                transform: rotate(180deg) translateX(-50%);
                left: 50%;
                top: -10px;
            }
            &.left {
                transform: rotate(90deg) translateX(-50%);
                left: -10px;
                top: 50%;
            }
            .person {
                white-space: nowrap;
                i {
                    color: #0077FF;
                }
                &__name {
                    cursor: pointer;
                }
                &__data {
                    display: flex;

                    &__sources {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-right: 15px;
                        margin-right: 15px;
                        border-right: 1px solid #cacfd8;

                        & > * {
                            margin: 5px 0 0 0;

                            &:first-child {
                                margin: 0;
                            }
                        }
                        .el-button {
                            background: transparent;
                            color: #6a6e73;

                            &:hover,
                            &.active {
                                background: #cacfd8 !important;
                                color: #0077FF !important;
                            }
                        }
                    }
                    &__face {
                        margin-right: 15px;
                        display: flex;

                        & > * {
                            margin-left: 15px;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                        img {
                            width: 75px;
                            border-radius: 5px;
                        }
                        .el-tag {
                            background: #8FB35C;
                            color: #ffffff;
                            border-radius: 10px;
                        }
                        .info-block {
                            margin-top: 5px;
                            display: flex;

                            &:first-child {
                                margin-top: 0;
                            }
                            & > *:first-child {
                                width: 25px;
                            }
                        }
                        &-image {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                    &__actions {
                        display: flex;
                        flex-direction: column;

                        & > *:first-child {
                            margin-bottom: 10px !important;
                            font-size: unset;
                            border-radius: 5px !important;
                        }
                        & > *:nth-child(2) {
                            border-radius: 5px 5px 0 0 !important;
                        }
                        & > *:last-child {
                            border-radius: 0 0 5px 5px !important;
                        }
                        .el-button {
                            background: #cacfd8;
                            color: #0077FF;
                            min-width: 20px;
                            max-width: 20px;
                            min-height: 20px;
                            max-height: 20px;
                            padding: 0;
                            margin: 0;
                            font-size: 10px;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
</style>