<template>
    <span>
        <el-tooltip effect="light" placement="top" popper-class="object-popper">
            <div slot="content">
                <img class="object-icon" :src="iconSrc">
                {{objectAttributes['one-string']}}
            </div>
            <span @click="onClick" ref="self">
                {{objectString}}
            </span>
        </el-tooltip>
        <document-object-card v-if="showCard" :close="closeCard" :cardId="objectAttributes.id" :$t="$t"></document-object-card>
    </span>
</template>

<script>
    import store from '../../index';
    import DocumentObjectCard from './document-object-card';

    export default {
        name: 'DocumentObject',
        props: [
            'objectAttributes',
            'objectString',
            '$t',
        ],
        components: {
            DocumentObjectCard,
        },
        data () {
            return {
                store,
                objectClassIndex: 0,
                iconSrc: null,
                showCard: false,
            };
        },
        mounted () {
            this.iconSrc = `${this.store.state.app.root}/iqplatform/attachment?attachId=${this.store.state.settings.objects.find(item => item.alias === this.objectAttributes['schema-alias']).icon}`;
            this.objectClassIndex = this.store.state.settings.objects.findIndex(item => item.alias === this.objectAttributes['schema-alias']);
            Object.keys(this.objectAttributes).forEach(key => {
                this.$refs.self.setAttribute(key, this.objectAttributes[key]);
            });
            this.$refs.self.classList.add('document-object');
            this.$refs.self.classList.add(`document-object--${this.objectClassIndex}`);
        },
        methods: {
            onClick () {
                this.showCard = true;
            },
            closeCard () {
                this.showCard = false;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .object-popper > div {
        display: flex;
        align-items: center;
    }
    .object-icon {
        max-height: 32px;
        margin-right: 5px;
    }
    .document-object {
        outline: none;
        display: inline-block;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        cursor: pointer;
        border-color: DarkGrey;

        &[schema-alias=DossierPerson] {
            border-color: DarkRed;
        }
        &[schema-alias=Orgs] {
            border-color: DarkSlateBlue;
        }
    }
</style>