<template>
    <el-dialog
        :visible.sync="visible"
        :before-close="onClose"
        :modal="true"
    >
        <div v-loading="loading" class="object-card">
            <div class="object-card__to-original">
                <el-button type="text" icon="el-icon-right" @click="toOriginal"></el-button>
                <el-button type="text" icon="el-icon-close" @click="onClose"></el-button>
            </div>
            <div class="object-card__avatar" v-if="avatar">
                <el-image
                    :src="avatar"
                    :preview-src-list="[avatar]"
                    fit="cover"
                ></el-image>
            </div>
            <div class="object-card__properties">
                <div class="object-card__one-string" v-if="oneString">
                    {{oneString}}
                </div>
                <div class="object-card__actions">
                    <el-button @click="createFeed">{{$t('lk.document.object.createFeed')}}</el-button>
                    <el-dropdown @command="editFeed" trigger="click" v-if="!!feeds.length">
                        <span class="el-dropdown-link">
                            <el-button>{{$t('lk.document.object.addToFeed')}}</el-button>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="feed in feeds" :command="feed.id">
                                {{feed.name}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
                <div class="object-card__property" v-for="propertyAlias in properties" :key="propertyAlias">
                    <div class="object-card__property-name">
                        {{getPropertyName(propertyAlias)}}
                    </div>
                    <div class="object-card__property-value">
                        {{object.attributes[propertyAlias]}}
                    </div>
                </div>
            </div>
        </div>
    </el-dialog>
</template>

<script>
    import CONST from '../../const';
    import store from '../../index';
    import DocumentObjectHelper from '../../helpers/documentObjectHelper';

    export default {
        name: 'DocumentObjectCard',
        props: [
            'close',
            'cardId',
            '$t',
        ],
        data () {
            return {
                store,
                visible: true,
                loading: false,
                object: null,
                classAttributes: [],
            };
        },
        created () {
            this.loading = true;
            this.$services.innerObject.list({ids:[this.cardId], templates:['shortCard']}).then(
                resp => {
                    this.loading = false;
                    this.object = resp.data.list[0];
                    this.classAttributes = this.store.state.app.ontology.schema.list.find(item => item.alias === this.object.schema.alias).attributes;
                }
            );
        },
        computed: {
            objectWithFilteredAttributes () {
                if (this.object) {
                    let obj = JSON.parse(JSON.stringify(this.object));
                    obj.attributes ={};
                    if (this.object && this.object.attributes) {
                        let classAttributesAliases = this.classAttributes.map(item => item.alias);
                        Object.keys(this.object.attributes).forEach(key => {
                            if (classAttributesAliases.includes(key)) {
                                obj.attributes[key] = this.object.attributes[key];
                            }
                        });
                    }
                    return obj;
                } else {
                    return {};
                }
            },
            avatar () {
                return DocumentObjectHelper.getAvatar(this.objectWithFilteredAttributes);
            },
            oneString () {
                return DocumentObjectHelper.getOneString(this.objectWithFilteredAttributes);
            },
            properties () {
                return DocumentObjectHelper.getProperties(this.objectWithFilteredAttributes);
            },
            feeds () {
                return this.store.state.feeds.list.filter(item => item.type !== CONST.FEED_TYPES.IMAGES);
            },
        },
        methods: {
            onClose () {
                this.close();
            },
            getPropertyName (propertyAlias) {
                return this.store.state.app.ontology.schema.list.find(item => item.alias === this.object.schema.alias).attributes.find(item => item.alias === propertyAlias).name;
            },
            toOriginal () {
                window.open(`${this.store.state.app.root}/iqplatform/objects?action=card&id=${this.object.id}`, "_blank");
            },
            createFeed () {
                CONST.EventBus.$emit(CONST.EVENTS.CREATE_FEED_BY_OBJECT, this.object);
                this.close();
            },
            editFeed (feedId) {
                CONST.EventBus.$emit(CONST.EVENTS.ADD_OBJECT_TO_FEED, {feedId, object: this.object});
                this.close();
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    /deep/
    .el-dialog {
        &__header {
            max-height: 0;
            padding: 0;
            border-bottom: none !important;

            button {
                display: none;
            }
        }
        &__body {
            padding: 0;

            .el-loading-mask {
                border-radius: 5px;
            }
        }
    }
    /deep/
    .object-card {
        padding: 20px;
        display: flex;
        position: relative;

        &__to-original {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;

            button {
                margin: 0;
                padding: 0 5px !important;
            }
            i {
                font-size: 15px;
            }
        }
        &__avatar {
            line-height: 0;

            .el-image {
                width: 145px;
                height: 145px;
                margin-right: 20px;
            }
        }
        &__properties {
            word-break: normal;
            display: flex;
            flex-direction: column;
        }
        &__one-string {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 17px;
        }
        &__property {
            &-name {
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 5px;
            }
            &-value {
                margin-bottom: 15px;
            }
        }
        &__actions {
            margin-bottom: 15px;

            .el-button {
                box-shadow: $color-shadow;
            }
        }
    }
</style>