<template>
    <el-dialog
        id="feedFormFacesDialog"
        :visible.sync="visible"
        :modal-append-to-body="false"
        :close-on-click-modal="true"
        :before-close="onClose"
        width="900px"
    >
        <div class="image-container">
            <div class="image-hint">
                {{$t('lk.faces.messages.toggleSelect')}}
            </div>
            <div class="image-wrapper">
                <img :src="url" ref="image">
                <div class="image-faces">
                    <div
                        :class="`box${face.selected ? ' selected' : ''}`"
                        v-for="face in faces"
                        :style="boxStyle(face)"
                        @click="toggleSelect(face)"
                        :key="face.facedata"
                    ></div>
                </div>
            </div>
        </div>
        <span slot="footer">
    <el-button @click="close">{{$t('cancel')}}</el-button>
    <el-button @click="onConfirm" type="primary">{{$t('save')}}</el-button>
  </span>
    </el-dialog>
</template>

<script>
    export default {
        name: 'Faces',
        props: [
            'file',
            'close',
            'confirm',
        ],
        data () {
            return {
                visible: true,
                url: this.file.base64,
                percent: 0,
                clientWidth: 0,
                clientHeight: 0,
                faces: JSON.parse(JSON.stringify(this.file.faces)).map(item => {
                    item.area = (item.bbox[2] - item.bbox[0]) * (item.bbox[3] - item.bbox[1]);
                    return item;
                }),
            };
        },
        mounted () {
            setTimeout(() => {
                this.calc();
                setTimeout(() => {
                    this.toggleSelect(this.faces[this.biggestFaceAreaIndex]);
                }, 100);
            }, 100);
        },
        computed: {
            biggestFaceAreaIndex () {
                let result = 0;
                let area = 0;
                this.faces.forEach((item, index) => {
                    if (item.area > area) {
                        result = index;
                        area = item.area;
                    }
                });
                return result;
            },
        },
        methods: {
            calc () {
                this.clientWidth = this.$refs.image.clientWidth;
                this.clientHeight = this.$refs.image.clientHeight;
                this.percent = this.clientWidth * 100 / this.$refs.image.naturalWidth;
            },
            onClose () {
                this.close();
            },
            onConfirm () {
                let selectedFaces = this.faces.filter(item => item.selected);
                if (!selectedFaces.length) {
                    this.$notify({
                        duration: 3000,
                        message: this.$t('lk.faces.messages.notSelectedFace'),
                        type: 'error'
                    });
                } else {
                    this.confirm(this.faces);
                }
            },
            boxStyle (face) {
                return {
                    left: `${this.toActual(face.bbox[0])}px`,
                    top: `${this.toActual(face.bbox[1])}px`,
                    right: `${this.clientWidth - this.toActual(face.bbox[2])}px`,
                    bottom: `${this.clientHeight - this.toActual(face.bbox[3])}px`,
                };
            },
            toActual (value) {
                return value * this.percent / 100;
            },
            toggleSelect(face) {
                this.faces = this.faces.map(item => {
                    if (item.facedata === face.facedata) {
                        item.selected = !item.selected;
                    }
                    return item;
                });
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    /deep/
    .el-dialog__header {
        border-bottom: none !important;
        padding: 0;
    }
    .image {
        &-hint {
            margin-bottom: 10px;
        }
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                max-width: 800px;
                max-height: 550px;
            }
        }
        &-wrapper {
            line-height: 0;
            position: relative;
        }
        &-faces {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .box {
                position: absolute;
                border: 3px solid $color-white;
                border-radius: $border-radius-main;
                cursor: pointer;

                &.selected {
                    border-color: $color-blue;
                }
            }
        }
    }
</style>