<template>
    <el-image
        v-if="url"
        style="width: 50px; height: 50px"
        :src="url"
        fit="cover"
    >
        <div slot="error">
            <i class="el-icon-picture-outline"></i>
        </div>
    </el-image>
    <div v-else>
        <i class="el-icon-picture-outline error"></i>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ImageActions from './image-actions';

    export default {
        name: 'FormImage',
        components: {
            ImageActions,
        },
        props: [
            'file',
        ],
        data () {
            return {
                url: this.file.base64,
            };
        },
        created () {
            this.$nextTick(() => {
                let actionsContainer = this.$el.querySelector('.el-image-viewer__actions__inner');
                if (actionsContainer) {
                    actionsContainer.innerHTML = '';
                    const ActionsCtor = Vue.extend(ImageActions);
                    const vm = new ActionsCtor({
                        propsData: {
                            test: this.test,
                        }
                    }).$mount(actionsContainer);
                }
            });
        },
        methods: {
            test () {
                console.log('TEST');///>>>
            },
        },
    }
</script>

<style lang="scss" scoped>
    i.error {
        font-size: 50px;
    }
    /deep/
    img {
        cursor: pointer;
    }
</style>