<template>
    <el-form
        :model="feedForm"
        :rules="feedFormRules"
        ref="feedForm"
        :label-position="'top'"
        class="feed-form"
    >
        <el-form-item prop="name" :label="$t('lk.feedForm.labels.name')">
            <el-input v-model="feedForm.name" :placeholder="$t('lk.feedForm.placeholders.name')"></el-input>
        </el-form-item>
        <el-form-item prop="description" :label="$t('lk.feedForm.labels.description')" v-show="!fast">
            <el-input v-model="feedForm.description" :placeholder="$t('lk.feedForm.placeholders.description')"></el-input>
        </el-form-item>
        <el-form-item prop="files" label="Фото">
            <el-upload
                v-loading="loading"
                ref="upload"
                drag
                action="#"
                :auto-upload="false"
                class="image-uploader"
                accept="image/png, image/jpeg"
                :on-change="onChange"
                :on-remove="onRemove"
                :file-list="feedForm.files"
            >
                <i class="el-icon-picture"></i>
                <div class="el-upload__text">
                    <div class="spaced" v-html="$t('lk.faces.uploader.title')"></div>
                    <div><span class="info">{{$t('lk.faces.uploader.info')}}</span></div>
                </div>
                <div slot="file" slot-scope="{file}" class="image-card">
                    <div @click="onEdit(file)">
                        <form-image :file="file"></form-image>
                    </div>
                    <div class="info">
                        <div>
                            {{file.name}}
                        </div>
                        <div class="properties">
                            {{fileDate(file)}}{{fileSize(file.size)}}
                        </div>
                    </div>
                    <div>
                        <el-button plain icon="el-icon-delete" @click="onDelete(file.uid)"></el-button>
                    </div>
                </div>
            </el-upload>
            <faces v-if="checkFile" :file="checkFile" :close="closeFileCheck" :confirm="confirmFileCheck"></faces>
        </el-form-item>
    </el-form>
</template>

<script>
    import _ from 'lodash';
    import moment from 'moment';
    import CONST from '../../const';
    import {mapState} from 'vuex';
    import FormImage from './form-image';
    import Faces from './faces';

    const fileExtensions = [
        'image/png',
        'image/jpeg',
    ];

    export default {
        name: 'FeedFormImages',
        props: [
            'fast',
        ],
        components: {
            FormImage,
            Faces,
        },
        data () {
            return {
                moment,
                feedForm: {
                    name: '',
                    description: '',
                    files: [],
                },
                feedFormRules: {
                    name: [
                        {required: true, message: this.$t('validate.notEmpty'), trigger: 'blur'},
                    ],
                    files: [
                        {required: true, message: this.$t('lk.faces.messages.emptyFiles'), trigger: 'blur' }
                    ]
                },
                loading: false,
                checkFile: null,
                filesToDelete: [],
            };
        },
        computed: {
            ...mapState({
                user: state => state.app.user,
                feedEditing: state => state.feeds.editing,
                preFill: state => state.feeds.preFill,
                feedList: state => state.feeds.list,
                apiUrl: state => state.api.url,
            }),
            dataObject () {
                let creator = JSON.parse(JSON.stringify(this.user));
                let owner = JSON.parse(JSON.stringify(this.user));
                if (this.feedEditing) {
                    let editingFeed = this.feedList.find(item => Number(item.id) === Number(this.feedEditing));
                    creator = JSON.parse(JSON.stringify(editingFeed.creator));
                    owner = JSON.parse(JSON.stringify(editingFeed.owner));
                }
                let dataObject = {
                    type: CONST.FEED_TYPES.IMAGES,
                    name: this.feedForm.name,
                    description: this.feedForm.description,
                    creator,
                    owner,
                    images: this.feedForm.files.map(file => {
                        let data = {
                            feedId: this.feedEditing || '',
                            filename: file.name || '',
                            image: file.base64,
                            bBoxes: file.faces.filter(item => item.selected).map(face => {
                                return {bbox: face.bbox, embedding : face.embedding};
                            }),
                        };
                        if (file.id) {
                            data.id = file.id;
                        }
                        return data;
                    }),
                    deletedImages: this.filesToDelete,
                };
                if (this.feedEditing) {
                    dataObject.id = this.feedEditing;
                }
                return dataObject;
            },
        },
        created() {
            this.initData();
        },
        watch: {
            '$store.state.feeds.editing': function (newId, oldId) {
                if (newId !== oldId) {
                    this.initData();
                }
            }
        },
        methods: {
            initData () {
                if (this.feedEditing) {
                    let editingFeed = this.feedList.find(item => Number(item.id) === Number(this.feedEditing));
                    this.feedForm.name = editingFeed.name;
                    this.feedForm.description = editingFeed.description;
                    if (editingFeed.images) {
                        this.feedForm.files = editingFeed.images.map((item, index) => {
                            return {
                                id: item.id,
                                name: item.filename || '',
                                date: item.insertDate,
                                base64: item.image,
                                raw: {lastModified: null},
                                size: (item.image.length * (3/4)) - 1,
                                uid: `custom-${Date.now()}-${index}`,
                                faces: item.bBoxes.map(bbox => {
                                    return {
                                        selected: true,
                                        bbox: bbox.bbox,
                                        embedding: bbox.embedding,
                                    }
                                }),
                            };
                        });
                    }
                } else {
                    this.feedForm.name = '';
                    this.feedForm.description = '';
                    this.feedForm.files= [];
                    if (this.preFill) {
                        Object.keys(this.preFill.data).forEach(key => {
                            this.feedForm[key] = this.preFill.data[key];
                        });
                    }
                }
            },
            onChange (file, files) {
                this.feedForm.files = files.filter(item => item.uid !== file.uid);

                if (/^(image)\//i.test(file.raw.type)) {
                    if (!fileExtensions.includes(file.raw.type)) {
                        this.$notify({
                            duration: 3000,
                            message: this.$t('lk.faces.messages.notValidExtension'),
                            type: 'error',
                        });
                    } else {
                        if (file.size > 5242880) {
                            this.$notify({
                                duration: 3000,
                                message: this.$t('lk.faces.messages.notValidSize'),
                                type: 'error'
                            });
                        } else {
                            let  reader = new FileReader();
                            reader.onloadend = () => {
                                let base64 = reader.result;
                                let ind = base64.indexOf(';base64,');
                                if(ind > 0){
                                    base64 = base64.substr(ind + 8);
                                }
                                if (!this.isFileExist(reader.result)) {
                                    this.loading = true;
                                    fetch(`${this.apiUrl}?service=subsystem/isd/mds/iqfPhoto&method=analyze`, {
                                        method: 'POST',
                                        body: JSON.stringify({
                                            extractAge: true,
                                            extractGender: true,
                                            extractEmbedding: true,
                                            photo: base64,
                                        }),
                                    }).then(resp => {
                                        this.loading = false;
                                        resp.json().then(json => {
                                            let faces = _.get(json, '0.faces') || [];
                                            if (!faces.length) {
                                                this.$notify({
                                                    duration: 3000,
                                                    message: this.$t('lk.faces.messages.emptyFaces'),
                                                    type: 'error'
                                                });
                                            } else {
                                                file.base64 = reader.result;
                                                file.faces = faces.map(item => {
                                                    item.selected = false;
                                                    return item;
                                                });
                                                this.checkFile = file;
                                            }
                                        });
                                    }).catch(error => {
                                        this.loading = false;
                                        this.$notify({
                                            duration: 3000,
                                            message: this.$t('lk.faces.messages.errorFaces'),
                                            type: 'error'
                                        });
                                    });
                                } else {
                                    this.$notify({
                                        duration: 3000,
                                        message: this.$t('lk.faces.messages.exist'),
                                        type: 'error'
                                    });
                                }
                            };
                            reader.readAsDataURL(file.raw);
                        }
                    }
                } else {
                    this.$notify({
                        duration: 3000,
                        message: this.$t('lk.faces.messages.notImage'),
                        type: 'error'
                    });
                }
            },
            isFileExist (base64) {
                let result = false;
                if (this.feedForm.files.some(item => item.base64 === base64)) {
                    result = true;
                }
                return result;
            },
            onRemove (file, files) {
                this.feedForm.files = files;
                this.$refs.feedForm.validate(() => {});
            },
            onDelete (uid) {
                let file = this.feedForm.files.find(item => item.uid === uid && item.hasOwnProperty('id'));
                if (file) {
                    this.filesToDelete.push(file.id);
                }
                this.feedForm.files = this.feedForm.files.filter(item => item.uid !== uid);
                this.$refs.feedForm.validate(() => {});
            },
            addFile (file) {
                if (this.feedForm.files.some(item => item.uid === file.uid)) {
                    this.feedForm.files = this.feedForm.files.map(item => {
                        if (item.uid === file.uid) {
                            item = file;
                        }
                        return item;
                    });
                } else {
                    this.feedForm.files.push(file);
                }
            },
            closeFileCheck () {
                this.checkFile = null;
            },
            confirmFileCheck (faces) {
                this.checkFile.faces = faces;
                this.addFile(this.checkFile);
                this.checkFile = null;
            },
            onEdit (file) {
                this.checkFile = file;
            },
            fileDate (file) {
                let result = '';
                if (file.raw.lastModifiedDate) {
                    result = `${moment(file.raw.lastModifiedDate).format('DD MMMM YYYY, HH:mm')}, `;
                }
                if (file.date) {
                    result = `${moment(file.date).format('DD MMMM YYYY, HH:mm')}, `;
                }
                return result;
            },
            fileSize (size) {
                let i = Math.floor(Math.log(size) / Math.log(1024));
                return (size / Math.pow(1024, i)).toFixed(0) * 1 + ' ' + ['Б', 'кБ', 'МБ', 'ГБ', 'ТБ'][i];
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    .feed-form {
        padding-right: 17px;
    }
    /deep/
    .image-uploader {
        .el-upload--text {
            display: block;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;

            span {
                &.blue {
                    color: $color-blue;
                }
                &.info {
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 11px;
                    color: $color-grey-light;
                }
            }
            .spaced {
                margin: 10px 0;
            }
            .el-upload-dragger {
                background: $color-blue-ultra-light;
                border-color: $color-blue;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    color: $color-blue;
                    font-size: 40px;
                }
            }
        }
        .el-upload-list__item {
            box-shadow: none;
            outline: none;
            transition: none;

            &:hover {
                box-shadow: none;
                background: none;
            }
            .image-card {
                background: $color-white;
                box-shadow: $color-shadow;
                border-radius: $border-radius-main;
                display: flex;
                align-items: center;
                padding: 20px;
                margin: 0 5px;

                .el-image > i {
                    font-size: 50px;
                }
                .info {
                    flex: 1;
                    margin: 0 20px;

                    .properties {
                        font-size: 11px;
                        color: $color-grey-light;
                        text-transform: uppercase;
                    }
                }
                .el-button {
                    padding: 0 5px;
                    min-width: 25px;
                    background: $color_blue-light;
                    box-shadow: $color-shadow;
                    color: $color-blue;
                }
            }
        }
    }
</style>