<template>
    <i class="el-icon-user-solid" @click="test"></i>
</template>

<script>
    export default {
        name: 'ImageActions',
        props: [
            'test',
        ],
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    i {
        font-size: 22px;
        color: $color-white;

        &:hover {
            color: $color-blue;
        }
    }
</style>