<template>
    <el-scrollbar class="main__content-scrollbar" id="ChannelDocumentsScrollbar" ref="scrollbar">
        <div class="documents">
            <div v-if="documentsVisible">
                <document v-for="document in documents" :key="document.id" :document="document"></document>
                <div v-loading="loading" v-if="loading" class="document-loader"></div>
            </div>
            <div v-else>
                {{$t('lk.messages.emptyDocuments')}}
            </div>
        </div>
    </el-scrollbar>
</template>

<script>
    import {mapState} from 'vuex';
    import CONST from '../const';
    import Document from './document';

    const cacheObject = {
        filled: false,
        loading: false,
        offset: 0,
        list: [],
    };

    export default {
        name: 'ChannelFeed',
        components: {
            Document,
        },
        data () {
            return {
                loading: false,
                documents: [],
                offset: 0,
                total: 0,
                searchString: '',
                cache: cacheObject,
                cacheLoading: false,
            };
        },
        created() {
            this.feed();
            CONST.EventBus.$on(CONST.EVENTS.SEARCH, this.eventBusListenerSearch);
            CONST.EventBus.$on(CONST.EVENTS.DOCUMENT_TO_FAVORITE, this.documentToFavorite);
            CONST.EventBus.$on(CONST.EVENTS.DOCUMENT_FROM_FAVORITE, this.documentFromFavorite);
            CONST.EventBus.$on(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        },
        mounted () {
            this.scrollContainer = document.querySelector('#ChannelDocumentsScrollbar .el-scrollbar__wrap');
            this.scrollContainer.addEventListener('scroll', this.onScroll);
        },
        computed: {
            ...mapState({
                channel: state => state.channels.currentChannel,
                tab: state => state.tabs.value,
                searchStringValue: state => state.searchString.value,
            }),
            documentsVisible () {
                return !!this.documents.length;
            },
        },
        watch: {
            '$store.state.channels.currentChannel.id': function (newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.$nextTick(() => {
                        this.offset = 0;
                        this.feed();
                    });
                }
            },
        },
        methods: {
            eventBusListenerSearch (tab) {
                if (tab) {
                    if (tab === CONST.TABS.CHANNEL) {
                        this.eventSearch();
                    }
                } else {
                    if (this.tab === CONST.TABS.CHANNEL) {
                        this.eventSearch();
                    }
                }
            },
            eventSearch () {
                this.searchString = this.searchStringValue;
                this.offset = 0;
                this.feed();
            },
            feed () {
                this.$services.subsystem_personalPage_channel.documentFeed({
                    personalPageChannel: this.channel,
                    textPredicate: this.searchString,
                    offset: this.offset,
                    count: CONST.REQUEST.COUNT,
                }).prepare().then(resp => {
                    if (resp.data && resp.data.documents) {
                        this.documents = resp.data.documents;
                        this.total = Number(resp.data.info.total);
                    }
                    this.cache = cacheObject;
                    this._preloadAppendingDocuments();
                });
            },
            _preloadAppendingDocuments () {
                if (this.documents.length < this.total) {
                    let offset = this.offset + CONST.REQUEST.COUNT;
                    this.cacheLoading = true;
                    this.$services.subsystem_personalPage_channel.documentFeed({
                        personalPageChannel: this.channel,
                        textPredicate: this.searchString,
                        offset,
                        count: CONST.REQUEST.COUNT,
                    }).then(
                        resp => {
                            this.cacheLoading = false;
                            if (resp.data && resp.data.documents) {
                                this.cache = {
                                    filled: true,
                                    loading: false,
                                    offset,
                                    list: resp.data.documents,
                                };
                            }
                        },
                        () => {
                            this.cacheLoading = false;
                        },
                    );
                }
            },
            append () {
                if (!this.loading && !this.cacheLoading) {
                    this.scrollContainer.scrollTop += 100;
                    this.offset += CONST.REQUEST.COUNT;
                    if (this.cache.filled && this.cache.offset === this.offset) {
                        this.documents = [...this.documents, ...this.cache.list];
                        this.$refs.scrollbar.update();
                        this.$nextTick(() => {
                            this.scrollContainer.scrollTop += 100;
                        });
                        this._preloadAppendingDocuments();
                    } else {
                        this.loading = true;
                        this.$services.subsystem_personalPage_channel.documentFeed({
                            personalPageChannel: this.channel,
                            textPredicate: this.searchString,
                            offset: this.offset,
                            count: CONST.REQUEST.COUNT,
                        }).then(
                            resp => {
                                this._preloadAppendingDocuments();
                                if (resp.data && resp.data.documents) {
                                    this.documents = [...this.documents, ...resp.data.documents];
                                    this.$refs.scrollbar.update();
                                    this.loading = false;
                                    this.$nextTick(() => {
                                        this.scrollContainer.scrollTop += 100;
                                    });
                                }
                            },
                            () => {
                                this.offset -= CONST.REQUEST.COUNT;
                            },
                        );
                    }
                }
            },
            onScroll () {
                let scrollTop = this.scrollContainer.scrollTop;
                let clientHeight = this.scrollContainer.clientHeight;
                let scrollHeight = this.scrollContainer.scrollHeight;
                if (Math.ceil(scrollTop) + Math.ceil(clientHeight) >= Math.floor(scrollHeight)) {
                    if (this.documents.length < this.total) {
                        this.scrollContainer.scrollTop -= 1;
                        this.append();
                    }
                }
            },
            onScrollOutside (value) {
                this.scrollContainer.scrollTop += value;
            },
            documentToFavorite (data) {
                this.documents = this.documents.map(item => {
                    if (Number(item.id) === Number(data.docId)) {
                        item.attributes.FAVORITES = data.favId;
                    }
                    return item;
                });
            },
            documentFromFavorite (data) {
                this.documents = this.documents.map(item => {
                    if (Number(item.id) === Number(data.docId)) {
                        item.attributes.FAVORITES = '';
                    }
                    return item;
                });
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.SEARCH, this.eventBusListenerSearch);
            this.scrollContainer.removeEventListener('scroll', this.onScroll);
            CONST.EventBus.$off(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        }
    }
</script>