<template>
    <el-scrollbar class="main__content-scrollbar" id="ChannelsScrollbar" ref="scrollbar">
        <div class="channels">
            <div v-for="channel in list" :key="channel.id" class="channel">
                <div class="channel__header">
                    <div class="channel__image" v-if="channel.icon">
                        <el-image
                            :src="channel.icon"
                            :fit="'contain'"
                        >
                            <div slot="error">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                    </div>
                    <div class="channel__content">
                        <div class="channel__content__title" :title="channel.name" @click="channelSelect(channel.id)">
                            {{channel.name}}
                        </div>
                        <div class="channel__content__props">
                            <span class="channel__content__prop" v-if="channel.subscribers && channel.subscribers > 0">
                                <i class="fa fa-bookmark"></i><span>{{channel.subscribers || 0}}</span><span>{{MiscHelper.numberDeclaration(channel.subscribers || 0, subscribersLabels)}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="channel__actions">
                        <el-button v-if="isSubscribed(channel.id)" @click="onUnsubscribe(channel.id)">{{$t('unsubscribe')}}</el-button>
                        <el-button v-else type="primary" plain @click="onSubscribe(channel.id)">{{$t('subscribe')}}</el-button>
                        <el-button type="primary" plain @click="createFeed(channel.id)" icon="el-icon-s-fold"></el-button>
                    </div>
                </div>
                <div class="channel__body">
                    <div class="channel__content__text" :title="channel.description">
                        {{channel.description}}
                    </div>
                </div>
            </div>
            <div v-loading="loading" v-if="loading" class="document-loader"></div>
        </div>
    </el-scrollbar>
</template>

<script>
    import MiscHelper from '../helpers/miscHelper';
    import {mapState, mapActions} from 'vuex';
    import CONST from '../const';

    export default {
        name: 'Channels',
        data () {
            return {
                MiscHelper,
                subscribersLabels: this.$t('lk.declarations.subscribers'),
                loading: false,
                searchString: '',
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.SEARCH, this.EventBusListenerSearch);
            CONST.EventBus.$on(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        },
        mounted () {
            this.scrollContainer = document.querySelector('#ChannelsScrollbar .el-scrollbar__wrap');
            this.scrollContainer.addEventListener('scroll', this.onScroll);
        },
        computed: {
            ...mapState({
                userList: state => state.channels.userList,
                channelsList: state => state.channels.list,
                tab: state => state.tabs.value,
                searchStringValue: state => state.searchString.value,
                userId: state => state.app.user.id,
                channelsTotal: state => state.channels.total,
            }),
            list () {
                let userChannelsIds = this.userList.map(item => item.id);
                let listChannelsIds = this.channelsList.map(item => item.id);
                return [
                    ...this.userList.filter(item => listChannelsIds.includes(item.id)),
                    ...this.channelsList.filter(item => !userChannelsIds.includes(item.id))
                ];
            },
        },
        methods: {
            ...mapActions({
                setChannel: 'setCurrentChannel',
                subscribe: 'subscribe',
                unsubscribe: 'unsubscribe',
                setTab: 'setTab',
                setOffset: 'setChannelsOffset',
                feedChannels: 'channels',
                append: 'appendChannels',
                editingFeed: 'editingFeed',
                preFill: 'preFillFeed',
            }),
            EventBusListenerSearch (tab) {
                if (tab) {
                    if (tab === CONST.TABS.CHANNELS) {
                        this.eventSearch();
                    }
                } else {
                    if (this.tab === CONST.TABS.CHANNELS) {
                        this.eventSearch();
                    }
                }
            },
            eventSearch () {
                this.searchString = this.searchStringValue;
                this.setOffset(0);
                this.feedChannels(this.searchString);
            },
            channelSelect (id) {
                this.setChannel(id);
                this.setTab(CONST.TABS.CHANNEL);
            },
            isSubscribed (id) {
                return this.userList.some(item => item.id === id);
            },
            onUnsubscribe (channelId) {
                this.$confirm(this.$t('lk.userChannels.messages.unsubscribe'), this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    let channelName = this.list.find(item => Number(item.id) === Number(channelId)).name;
                    this.unsubscribe({
                        userId: this.userId,
                        channelId,
                    }).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.userChannels.messages.unsubscribeComplete'),
                            message: channelName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
            onSubscribe (channelId) {
                let channelName = this.list.find(item => Number(item.id) === Number(channelId)).name;
                this.subscribe({
                    userId: this.userId,
                    channelId,
                }).then(
                    () => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.userChannels.messages.subscribeComplete'),
                            message: channelName,
                            type: 'success'
                        });
                    },
                    () => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.errors.channels.subscribe'),
                            message: channelName,
                            type: 'error'
                        });
                    },
                );
            },
            onScroll () {
                let scrollTop = this.scrollContainer.scrollTop;
                let clientHeight = this.scrollContainer.clientHeight;
                let scrollHeight = this.scrollContainer.scrollHeight;
                if (Math.ceil(scrollTop) + Math.ceil(clientHeight) >= Math.floor(scrollHeight)) {
                    if (this.channelsList.length < this.channelsTotal) {
                        this.scrollContainer.scrollTop -= 1;
                        this.onAppend();
                    }
                }
            },
            onScrollOutside (value) {
                this.scrollContainer.scrollTop += value;
            },
            onAppend () {
                if (!this.loading) {
                    this.loading = true;
                    this.scrollContainer.scrollTop += 100;
                    this.append(this.searchString).then(
                        () => {
                            this.$refs.scrollbar.update();
                            this.loading = false;
                            this.$nextTick(() => {
                                this.scrollContainer.scrollTop += 100;
                            });
                        },
                    );
                }
            },
            createFeed (channelId) {
                this.editingFeed(null);
                this.preFill({data: {channels: [channelId]}, type: CONST.FEED_TYPES.DOCUMENTS});
                CONST.EventBus.$emit(CONST.EVENTS.SHOW_FAST_FEED_FORM);
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.SEARCH, this.EventBusListenerSearch);
            this.scrollContainer.removeEventListener('scroll', this.onScroll);
            CONST.EventBus.$off(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        }
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .channels {
        padding-right: 15px;

        .channel {
            background: $color-white;
            border-radius: $border-radius-main;
            padding: 13px 20px;
            box-shadow: $color-shadow;
            margin-bottom: 20px;

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__content {
                flex: 1;
                margin: 0 20px 0 0;
                align-self: center;
                overflow: hidden;
                line-height: 1.4;

                &__title {
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $color-grey-primary;
                    cursor: pointer;
                }
                &__text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__props {
                    color: $color-grey-light;
                    font-size: 14px;

                    & > * {
                        margin-left: 20px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                &__prop > * {
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            &__image {
                line-height: 1;
                margin-right: 20px;

                /deep/
                .el-image {
                    min-width: 50px;
                    border-radius: $border-radius-main;
                    overflow: hidden;
                    background: $color-blue-ultra-light;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            &__actions {
                & > * {
                    margin: 0 0 0 10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
                .el-button {
                    box-shadow: $color-shadow;
                }
            }
            &__body {
                margin-top: 10px;
            }
        }
    }
</style>