<template>
    <div class="channel-info">
        <div class="channel-info__header">
            <div class="channel-info__header__icon">
                <el-image
                    :src="channel.icon"
                    :fit="'contain'"
                >
                    <div slot="error">
                        <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </div>
            <div class="channel-info__header__body">
                <div class="channel-info__close">
                    <el-button icon="el-icon-circle-close" circle type="text" @click="close"></el-button>
                </div>
                <div class="channel-info__title">
                    {{channel.name}}
                </div>
                <!--div class="channel-info__user">
                    user ?
                </div-->
                <div class="channel-info__additional">
                    <div class="channel-info__actions">
                        <el-button v-if="isSubscribed(channel.id)" @click="onUnsubscribe(channel.id)">{{$t('unsubscribe')}}</el-button>
                        <el-button v-else type="primary" plain @click="onSubscribe(channel.id)">{{$t('subscribe')}}</el-button>
                        <el-button type="primary" plain @click="createFeed(channel.id)" icon="el-icon-s-fold"></el-button>
                    </div>
                    <div class="channel-info__props">
                        <span class="channel-info__prop" v-if="channel.subscribers && channel.subscribers > 0">
                            <i class="fa fa-bookmark"></i><span>{{channel.subscribers || 0}}</span><span>{{MiscHelper.numberDeclaration(channel.subscribers || 0, subscribersLabels)}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="channel-info__body">
            {{channel.description}}
        </div>
    </div>
</template>

<script>
    import MiscHelper from '../helpers/miscHelper';
    import {mapState, mapActions} from 'vuex';
    import CONST from '../const';

    const subscribersLabels = ['подписчик', 'подписчика', 'подписчиков'];

    export default {
        name: 'ChannelInfo',
        data () {
            return {
                MiscHelper,
                subscribersLabels,
            };
        },
        computed: {
            ...mapState({
                channel: state => state.channels.currentChannel,
                userList: state => state.channels.userList,
                channelsList: state => state.channels.list,
                userId: state => state.app.user.id,
                prevTab: state => state.tabs.prev,
            }),
            list () {
                let userChannelsIds = this.userList.map(item => item.id);
                return [...this.userList, ...this.channelsList.filter(item => {
                    return !userChannelsIds.includes(item.id);
                })];
            },
        },
        methods: {
            ...mapActions({
                setTab: 'setTab',
                subscribe: 'subscribe',
                unsubscribe: 'unsubscribe',
                setCurrentChannel: 'setCurrentChannel',
                editingFeed: 'editingFeed',
                preFill: 'preFillFeed',
            }),
            close () {
                this.setTab(this.prevTab);
                this.setCurrentChannel(null);
            },
            isSubscribed (id) {
                return this.userList.some(item => Number(item.id) === Number(id));
            },
            onSubscribe (channelId) {
                let channelName = this.list.find(item => Number(item.id) === Number(channelId)).name;
                this.subscribe({
                    userId: this.userId,
                    channelId,
                }).then(
                    () => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.userChannels.messages.subscribeComplete'),
                            message: channelName,
                            type: 'success'
                        });
                    },
                    () => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.errors.channels.subscribe'),
                            message: channelName,
                            type: 'error'
                        });
                    },
                );
            },
            onUnsubscribe (channelId) {
                this.$confirm(this.$t('lk.userChannels.messages.unsubscribe'), this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    let channelName = this.list.find(item => Number(item.id) === Number(channelId)).name;
                    this.unsubscribe({
                        userId: this.userId,
                        channelId,
                    }).then(() => {
                        this.$notify({
                            duration: 3000,
                            title: this.$t('lk.userChannels.messages.unsubscribeComplete'),
                            message: channelName,
                            type: 'success'
                        });
                    });
                }).catch(() => {});
            },
            createFeed (channelId) {
                this.editingFeed(null);
                this.preFill({data: {channels: [channelId]}, type: CONST.FEED_TYPES.DOCUMENTS});
                CONST.EventBus.$emit(CONST.EVENTS.SHOW_FAST_FEED_FORM);
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .channel-info {
        &__header {
            display: flex;

            &__icon {
                line-height: 1;

                /deep/
                .el-image {
                    min-width: 100px;
                    background: $color-blue-light;
                    border-radius: $border-radius-main;
                    overflow: hidden;

                    img {
                        width: 100px;
                        height: 100px;
                    }
                    i {
                        font-size: 100px;
                    }
                }
            }
            &__body {
                flex: 1;
                position: relative;
                margin-left: 15px;
            }
        }
        &__close {
            position: absolute;
            right: 0;
            top: 0;

            .el-button {
                font-size: 20px;
            }
        }
        &__title {
            font-size: 30px;
            font-weight: bold;
            color: $color-grey-primary;
            line-height: 1;
        }
        &__user {
            color: $color-grey-primary;
            font-weight: bold;
        }
        &__additional {
            display: flex;
            margin-top: 10px;
            align-items: center;
        }
        &__actions {
            .el-button {
                box-shadow: $color-shadow;
            }
        }
        &__props {
            margin-left: 15px;
            color: $color-grey-light;
            font-size: 14px;

            & > * {
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
        &__prop > * {
            margin-left: 5px;

            &:first-child {
                margin-left: 0;
            }
        }
        &__body {
            margin: 10px 0 25px;
            text-align: justify;
        }
    }
</style>