<template>
    <div class="document" v-loading="loading" :id="`document${document.id}`" ref="document">
        <div class="document__image" v-if="images">
            <image-viewer :width="145" :height="145" :imagesIds="imagesIds"></image-viewer>
            <div class="document__image-count">
                {{images.length}}
            </div>
        </div>
        <div class="document__content">
            <div class="document__additional">
                <div class="document__additional-properties">
                    <el-tooltip effect="light" :content="$t('lk.document.author')" placement="top-end" v-if="authors.length > 1">
                        <el-dropdown @command="handleAuthorCommand">
                            <span class="el-dropdown-link">
                                {{authorName(authors[0])}} +{{authors.length - 1}}
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item v-for="author in authors" :command="author">{{author.oneString}}</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-tooltip>
                    <el-tooltip effect="light" :content="$t('lk.document.author')" placement="top-end" v-if="authors.length === 1">
                        <el-button type="text" @click="viewAuthor(authors[0])">{{authorName(authors[0])}}</el-button>
                    </el-tooltip>
                </div>
            </div>
            <div class="document__title" @click="toggleFullText">
                {{title}}
            </div>
            <div class="document__fulltext document-contextmenu" v-if="showFullText" v-html="fullText"></div>
            <div class="document__text document-contextmenu" v-else v-html="text"></div>
            <document-contextmenu
                v-if="contextMenu.show"
                :event="contextMenu.event"
                :eventData="contextMenu.data"
                :close="() => {contextMenu.show = false}"
                :addToSearchString="addToSearchString"
            ></document-contextmenu>
            <div class="document__spacer"></div>
            <div class="document__additional">
                <div class="document__additional-properties">
                    <el-tooltip effect="light" :content="$t('lk.document.original')" placement="bottom-end">
                        <el-button type="text" icon="el-icon-document" @click="viewSource" v-if="sourceUrl"></el-button>
                    </el-tooltip>
                    <el-tooltip effect="light" :content="$t('lk.document.copy')" placement="bottom-end">
                        <el-button type="text" icon="el-icon-copy-document" @click="copyDocumentLink" v-if="documentLink"></el-button>
                    </el-tooltip>
                    <span>{{date}}</span>
                    <el-button v-if="source" type="text" @click="viewSourceCard(source.id)">{{source.name}}</el-button>
                </div>
                <div class="document__additional-buttons">
                    <el-button
                        type="text"
                        icon="el-icon-delete"
                        v-if="isVisibleDeleteButton"
                        @click="onDeleteDocumentFromFeed"
                    ></el-button>
                    <el-button
                        type="text"
                        v-if="isTranslateAvailable"
                        @click="toggleTranslation"
                        :class="translation ? 'active' : ''"
                    >
                        <i class="fal fa-language"></i>
                    </el-button>
                    <el-tooltip effect="light" :content="$t('unload')" placement="bottom-start">
                        <i
                            :class="`${documentDownloading ? 'el-icon-loading' : 'el-icon-download'} icon-button`"
                            @click="download"
                        ></i>
                    </el-tooltip>
                    <el-tooltip effect="light" :content="$t('lk.favorites.remove')" placement="bottom-start" v-if="isFavorite">
                        <i
                            class="el-icon-star-on icon-button"
                            style="color: #0077FF"
                            @click="fromFavorite"
                        ></i>
                    </el-tooltip>
                    <el-dropdown v-else-if="favoritesList.length > 1" trigger="click" @command="toFavorite">
                        <el-tooltip effect="light" :content="$t('lk.favorites.add')" placement="bottom-start">
                            <el-button
                                type="text"
                                icon="el-icon-star-on"
                            ></el-button>
                        </el-tooltip>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item
                                v-for="favorite in favorites"
                                :command="favorite.id"
                                :key="favorite.id"
                            >
                                {{favorite.name}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-tooltip effect="light" :content="$t('lk.favorites.add')" placement="bottom-start" v-else-if="favoritesList.length === 1">
                        <i
                            class="el-icon-star-on icon-button"
                            @click="toFavorite(favoritesList[0].id)"
                        ></i>
                    </el-tooltip>
                    <el-dropdown v-if="generalFavoritesList.length && !generalFavoritesSelected.length" trigger="click" @command="toGeneralFavorite">
                        <el-tooltip effect="light" :content="$t('lk.generalFavorites.add')" placement="bottom-start">
                            <el-button type="text">
                                <i class="fas fa-stars" style="font-size: 17px; position: relative; top: -2px;"></i>
                            </el-button>
                        </el-tooltip>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item
                                v-for="generalFavorite in generalFavoritesList"
                                :command="generalFavorite.id"
                                :key="generalFavorite.id"
                            >
                                {{generalFavorite.name}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>
            <footnote-form
                v-if="showFootnoteForm"
                :generalFavoriteId="generalFavoriteId"
                :title="title"
                :text="fullText"
                :footnote="footnote"
                :close="() => this.showFootnoteForm = false"
            ></footnote-form>
            <div class="hidden-area"></div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Vuex from 'vuex';
    import {mapState, mapActions} from 'vuex';
    import CONST from '../const';
    import DocumentHelper from '../helpers/documentHelper';
    import ExportHelper from '../helpers/exportHelper';
    import ImageViewer from './image-viewer/image-viewer';
    import DocumentContextmenu from './document-contextmenu';
    import DocumentObject from './document-objects/document-object';
    import FootnoteForm from './footnote-form';

    export default {
        name: 'Document',
        props: [
            'document',
        ],
        components: {
            ImageViewer,
            DocumentContextmenu,
            DocumentObject,
            FootnoteForm,
        },
        data () {
            return {
                originalFullText: null,
                translatedFullText: null,
                showFullText: false,
                loading: false,
                hiddenAreaContainer: null,
                documentDownloading: false,
                translation: false,
                contextMenu: {
                    container: null,
                    show: false,
                    data: null,
                    event: null,
                },
                showFootnoteForm: false,
                generalFavoriteId: null,
            };
        },
        mounted () {
            this.hiddenAreaContainer = this.$refs.document.querySelector('.hidden-area');
            this.contextMenuInit();
        },
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
                currentTab: state => state.tabs.value,
                favoritesList: state => state.favorites.list,
                favoritesSelected: state => state.favorites.selected,
                generalFavoritesList: state => state.generalFavorites.list,
                generalFavoritesSelected: state => state.generalFavorites.selected,
                feedsList: state => state.feeds.list,
                feedsSelected: state => state.feeds.selected,
                searchString: state => state.searchString.value,
            }),
            currentDocument () {
                return this.document;
            },
            images () {
                let result = null;
                let images = DocumentHelper.getImages(this.currentDocument);
                if (images) {
                    result = images.map(item => `${this.appRoot}/iqplatform/attachment?attachId=${item}`);
                }
                return result;
            },
            imagesIds () {
                let result = null;
                let images = DocumentHelper.getImages(this.currentDocument);
                if (images) {
                    result = images;
                }
                return result;
            },
            title () {
                return DocumentHelper.prepareTitle(this.currentDocument, this.translation);
            },
            text () {
                return DocumentHelper.prepareText(this.currentDocument, this.translation);
            },
            fullText () {
                let result = null;
                if (this.isTranslateAvailable && this.translation && this.translatedFullText) {
                    return DocumentHelper.prepareFullText(this.translatedFullText, this.appRoot);
                } else {
                    if (this.originalFullText) {
                        return DocumentHelper.prepareFullText(this.originalFullText, this.appRoot);
                    }
                }
                return result;
            },
            date () {
                return DocumentHelper.getDate(this.currentDocument);
            },
            source () {
                return DocumentHelper.getSource(this.currentDocument);
            },
            authors () {
                return DocumentHelper.getAuthors(this.currentDocument);
            },
            isVisibleDeleteButton () {
                return this.currentTab !== CONST.TABS.CHANNEL && !this.favoritesSelected.length;
            },
            isFavorite () {
                return this.currentDocument.attributes && !!this.currentDocument.attributes.FAVORITES;
            },
            favorites () {
                return this.favoritesList;
            },
            sourceUrl () {
                let result = null;
                if (!result && this.currentDocument.hasOwnProperty('postUrl')) {
                    result = this.currentDocument.postUrl;
                }
                if (!result && this.currentDocument.hasOwnProperty('url')) {
                    result = this.currentDocument.url;
                }
                if (!result && this.currentDocument.hasOwnProperty('agency') && this.currentDocument.agency.hasOwnProperty('url')) {
                    result = this.currentDocument.agency.url;
                }
                return result;
            },
            documentLink () {
                return `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}${this.appRoot}/action/new/keywords?docId=${this.currentDocument.id}`;
            },
            isTranslateAvailable () {
                return this.currentDocument.attributes && this.currentDocument.attributes.DOCUMENT_TRANSLATED;
            },
            footnote () {
                return {
                    title: this.title,
                    text: this.fullText,
                    author: this.authors.map(item => item.oneString).join(', '),
                    agency: this.source.name,
                    url: this.source.url,
                };
            },
        },
        methods: {
            ...mapActions({
                documentToFavorite: 'documentToFavorite',
                documentFromFavorite: 'documentFromFavorite',
                documentFromFeeds: 'documentFromFeeds',
                setSearchString: 'setSearchString',
            }),
            toggleFullText () {
                if (this.showFullText) {
                    this.showFullText = false;
                    this.contextMenuInit();
                } else {
                    if (this.fullText) {
                        this.showFullText = true;
                        this.fullTextObjectsClickBind();
                        this.contextMenuInit();
                    } else {
                        this.loading = true;
                        let service = 'subsystem_personalPage_channel';
                        if (this.currentTab === CONST.TABS.DOCUMENTS) {
                            service = 'subsystem_personalPage_feed';
                        }
                        if ('documentMarkup' in this.$services[service]) {
                            let selectedFeedsRubricIds = [];
                            let selectedFeeds = this.feedsList.filter(item => this.feedsSelected.includes(item.id));
                            if (!!selectedFeeds.length) {
                                selectedFeeds.forEach(item => {
                                    selectedFeedsRubricIds.push(item.rubric.id);
                                });
                            }
                            this.$services[service].documentMarkup({
                                documentId: this.currentDocument.id,
                                textPredicate: this.searchString,
                                folderIds: selectedFeedsRubricIds,
                            })
                                .then(resp => {
                                    this.loading = false;
                                    let document = resp.data.documents[0];
                                    this.originalFullText = document.text;
                                    if (document.attributes.hasOwnProperty('TEXT_TRANSLATION')) {
                                        this.translatedFullText = document.attributes.TEXT_TRANSLATION;
                                    } else {
                                        this.translatedFullText = '';
                                    }
                                    this.showFullText = true;
                                    this.fullTextObjectsClickBind();
                                    this.contextMenuInit();
                                });
                        } else {
                            this.loading = false;
                            this.originalFullText = this.currentDocument.text;
                            this.showFullText = true;
                            this.fullTextObjectsClickBind();
                            this.contextMenuInit();
                        }
                    }
                }
            },
            fullTextObjectsClickBind () {
                this.$nextTick(() => {
                    let textContainer = this.$refs.document.querySelector('.document__fulltext');
                    let objects = textContainer.querySelectorAll('[type=object]');
                    if (!!objects.length) {
                        objects.forEach(item => {
                            let objectAttributes = {};
                            Object.keys(item.attributes).forEach(key => {
                                objectAttributes[item.attributes[key].name] = item.attributes[key].value.trim();
                            });
                            let objectString = item.innerHTML;
                            const store = new Vuex.Store();
                            const DocumentObjectCtor = Vue.extend(DocumentObject);
                            const vm = new DocumentObjectCtor({
                                store,
                                propsData: {
                                    objectAttributes,
                                    objectString,
                                    $t: this.$t,
                                }
                            }).$mount(item);
                        });
                    }
                });
            },
            toFavorite (id) {
                this.documentToFavorite({docId: this.currentDocument.id, favId: id}).then(
                    () => {
                        let favoriteName = this.favoritesList.find(item => Number(item.id) === Number(id)).name;
                        this.$notify({
                            duration: 3000,
                            title: 'Документ добавлен в избранное',
                            message: favoriteName,
                            type: 'success'
                        });
                        CONST.EventBus.$emit(CONST.EVENTS.DOCUMENT_TO_FAVORITE, {docId: this.currentDocument.id, favId: id});
                    },
                    () => {},
                );
            },
            fromFavorite () {
                let favoriteId = Number(this.currentDocument.attributes.FAVORITES.split(',')[0]);
                let favoriteName = this.favoritesList.find(item => Number(item.id) === Number(favoriteId)).name;
                this.$confirm(`${this.$t('lk.favorites.confirm')} ${favoriteName}?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    this.documentFromFavorite({docId: this.currentDocument.id, favId: favoriteId}).then(
                        () => {
                            this.$notify({
                                duration: 3000,
                                title: this.$t('lk.favorites.removed'),
                                message: favoriteName,
                                type: 'success'
                            });
                            CONST.EventBus.$emit(CONST.EVENTS.DOCUMENT_FROM_FAVORITE, {docId: this.currentDocument.id});
                        },
                        () => {},
                    );
                }).catch(() => {});
            },
            viewSource () {
                window.open(this.sourceUrl, "_blank");
            },
            viewAuthor (author) {
                window.open(`${this.appRoot}/action/new/objects?action=card&id=${author.id}`, "_blank");
            },
            authorName (author) {
                return author.oneString;
            },
            handleAuthorCommand (author) {
                this.viewAuthor(author);
            },
            copyDocumentLink () {
                const input = document.createElement('input');
                input.value = this.documentLink;
                this.hiddenAreaContainer.appendChild(input);
                input.focus();
                input.select();
                if (document.execCommand('copy')) {
                    this.$notify({
                        duration: 3000,
                        message: this.$t('lk.document.copySuccess'),
                        type: 'success'
                    });
                } else {
                    this.$notify({
                        duration: 3000,
                        message: this.$t('lk.messages.clipboardAccessConfirm'),
                        type: 'error'
                    });
                }
                input.remove();
            },
            download () {
                this.documentDownloading = true;
                ExportHelper.download(this.$services.subsystem_personalPage_export.export, this.appRoot, [this.currentDocument.id]).then(
                    () => {
                        this.documentDownloading = false;
                    }
                );
            },
            toggleTranslation () {
                this.translation = !this.translation;
            },
            onDeleteDocumentFromFeed () {
                let feedIds = this.feedsList.filter(item => this.feedsSelected.includes(item.id)).map(item => item.id);
                this.$services.subsystem_personalPage_feed.deleteDocumentFromFeed({feedIds, docId: this.currentDocument.id}).prepare().then(() => {
                    this.documentFromFeeds(this.currentDocument.id);
                    this.$notify({
                        duration: 3000,
                        message: this.$t('lk.messages.documentDeleted'),
                        type: 'success'
                    });
                });
            },
            contextMenuInit () {
                this.$nextTick(() => {
                    this.contextMenu.container = this.$refs.document.querySelector('.document-contextmenu');
                    this.contextMenu.container.addEventListener('contextmenu', event => {
                        let selectedText = document.getSelection().toString();
                        if (selectedText.length) {
                            event.preventDefault();
                            this.contextMenu.data = selectedText;
                            this.contextMenu.event = event;
                            this.contextMenu.show = true;
                        }
                    });
                });
            },
            addToSearchString (string, method) {
                let stringArray = string.replace(/[^ a-zа-яё\d]/uig, '').split(' ');
                let separator = method === 'AND' ? '&' : (method === 'OR' ? ' | ' : '-');
                let stringToAdd = `${!!this.searchString.length ? separator : (method === 'NOT' ? '-' : '')}${stringArray.join(separator)}`;
                this.setSearchString(`${this.searchString}${stringToAdd}`);
                this.contextMenu.show = false;
            },
            viewSourceCard (id) {
                window.open(`${this.appRoot}/action/new/agencies?action=card&agencyId=${id}`, "_blank");
            },
            toGeneralFavorite (id) {
                this.generalFavoriteId = id;
                if (this.fullText) {
                    this.showFootnoteForm = true;
                } else {
                    this.loading = true;
                    let service = 'subsystem_personalPage_channel';
                    if (this.currentTab === CONST.TABS.DOCUMENTS) {
                        service = 'subsystem_personalPage_feed';
                    }
                    if ('documentMarkup' in this.$services[service]) {
                        let selectedFeedsRubricIds = [];
                        let selectedFeeds = this.feedsList.filter(item => this.feedsSelected.includes(item.id));
                        if (!!selectedFeeds.length) {
                            selectedFeeds.forEach(item => {
                                selectedFeedsRubricIds.push(item.rubric.id);
                            });
                        }
                        this.$services[service].documentMarkup({
                            documentId: this.currentDocument.id,
                            textPredicate: this.searchString,
                            folderIds: selectedFeedsRubricIds,
                        })
                            .then(resp => {
                                this.loading = false;
                                let document = resp.data.documents[0];
                                this.originalFullText = document.text;
                                if (document.attributes.hasOwnProperty('TEXT_TRANSLATION')) {
                                    this.translatedFullText = document.attributes.TEXT_TRANSLATION;
                                } else {
                                    this.translatedFullText = '';
                                }
                                this.showFootnoteForm = true;
                            });
                    } else {
                        this.loading = false;
                        this.originalFullText = this.currentDocument.text;
                        this.showFootnoteForm = true;
                    }
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    /deep/
    .hidden-area {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    /deep/
    .document__additional-buttons {
        .el-button {
            font-size: 19px !important;
            margin-left: 10px;

            &.active {
                color: $color-blue;
            }
        }
    }
</style>