<template>
    <el-scrollbar class="main__content-scrollbar" id="DocumentsScrollbar" ref="scrollbar">
        <div class="documents">
            <div v-if="documentsVisible" class="documents__wrapper">
                <document v-for="document in list" :key="document.id" :document="document" v-if="!selectedGeneralFavorites.length"></document>
                <footnote v-for="document in list" :key="document.id" :document="document" v-if="selectedGeneralFavorites.length"></footnote>
                <div v-loading="loading" v-if="loading" class="document-loader"></div>
            </div>
            <div v-else>
                {{$t('lk.messages.emptyDocuments')}}
            </div>
        </div>
    </el-scrollbar>
</template>

<script>
    import _ from 'lodash';
    import {mapActions, mapState} from 'vuex';
    import CONST from '../const';
    import Document from './document';
    import Footnote from './footnote';

    export default {
        name: 'Documents',
        components: {
            Document,
            Footnote,
        },
        data () {
            return {
                loading: false,
                searchString: '',
            };
        },
        created () {
            let newRequest = JSON.parse(JSON.stringify(this.request));
            let oldRequest = JSON.parse(JSON.stringify(this.documentsLastRequest));
            if (!_.isEqual(newRequest, oldRequest) && this.isStateInitialized) {
                if (
                    !this.selectedFavorites.length &&
                    !this.selectedGeneralFavorites.length &&
                    !this.selectedRecommendations.length &&
                    this.selectedFeeds.length
                ) {
                    this.getDocuments(newRequest).then(
                        () => {
                            this.setLastRequest(newRequest);
                        }
                    );
                }
            }
            CONST.EventBus.$on(CONST.EVENTS.SEARCH, this.eventBusListenerSearch);
            CONST.EventBus.$on(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        },
        mounted () {
            this.scrollContainer = document.querySelector('#DocumentsScrollbar .el-scrollbar__wrap');
            this.scrollContainer.addEventListener('scroll', this.onScroll);
        },
        computed: {
            ...mapState({
                isCacheLoading: state => state.documents.cache.loading,
                isStateInitialized: state => state.documents.initialized,
                documentsList: state => state.documents.list,
                documentsOffset: state => state.documents.offset,
                documentsTotal: state => state.documents.total,
                documentsLastRequest: state => state.documents.lastRequest,
                selectedFavorites: state => state.favorites.selected,
                selectedGeneralFavorites: state => state.generalFavorites.selected,
                selectedRecommendations: state => state.recommendations.selected,
                recommendationsList: state => state.recommendations.list,
                selectedFeeds: state => state.feeds.selected,
                tab: state => state.tabs.value,
                searchStringValue: state => state.searchString.value,
            }),
            list () {
                let result = this.documentsList;
                if (this.selectedFavorites.length) {
                    result = result.filter(document => {
                        let result = false;
                        if (document.attributes && document.attributes.FAVORITES && document.attributes.FAVORITES.length) {
                            let favorites = document.attributes.FAVORITES.split(',').map(item => Number(item));
                            result = favorites.includes(Number(this.selectedFavorites[0]));
                        }
                        return result;
                    });
                }
                return result;
            },
            documentsVisible () {
                return !!this.list.length;
            },
            request () {
                let feedsIds = this.selectedFeeds;
                if (!!this.selectedRecommendations.length) {
                    feedsIds = this.recommendationsList.filter(item => this.selectedRecommendations.includes(item.id)).map(item => item.feedTo.id);
                }
                return {
                    offset: this.documentsOffset,
                    count: CONST.REQUEST.COUNT,
                    feedIds: feedsIds,
                    textPredicate: this.searchString,
                };
            },
        },
        methods: {
            ...mapActions({
                getDocuments: 'documents',
                getFavoriteDocuments: 'favoriteDocuments',
                getGeneralFavoriteDocuments: 'generalFavoriteDocuments',
                setLastRequest: 'setLastRequest',
                setOffset: 'setDocumentsOffset',
                append: 'appendDocuments',
                clearDocuments: 'clearDocuments',
            }),
            eventBusListenerSearch (tab) {
                if (tab) {
                    if (tab === CONST.TABS.DOCUMENTS) {
                        this.eventSearch();
                    }
                } else {
                    if (this.tab === CONST.TABS.DOCUMENTS) {
                        this.eventSearch();
                    }
                }
            },
            eventSearch () {
                this.loading = true;
                if (!!this.selectedFavorites.length) {
                    let newRequest = {favId: this.selectedFavorites[0]};
                    this.getFavoriteDocuments(newRequest)
                        .then(
                            () => {
                                this.setLastRequest(newRequest);
                                this.loading = false;
                            }
                        )
                        .catch(
                            () => {
                                this.loading = false;
                            }
                        )
                    ;
                } else if (!!this.selectedGeneralFavorites.length) {
                    this.searchString = this.searchStringValue;
                    let newRequest = {
                        generalFavId: this.selectedGeneralFavorites[0],
                        content: this.searchString,
                    };
                    this.getGeneralFavoriteDocuments(newRequest)
                        .then(
                            () => {
                                this.setLastRequest(newRequest);
                                this.loading = false;
                            }
                        )
                        .catch(
                            () => {
                                this.loading = false;
                            }
                        )
                    ;
                } else {
                    if (!!this.selectedFeeds.length || !!this.selectedRecommendations.length) {
                        this.searchString = this.searchStringValue;
                        let newRequest = JSON.parse(JSON.stringify(this.request));
                        this.getDocuments(newRequest)
                            .then(
                                () => {
                                    this.setLastRequest(newRequest);
                                    this.loading = false;
                                }
                            )
                            .catch(
                                () => {
                                    this.loading = false;
                                }
                            )
                        ;
                    } else {
                        this.clearDocuments();
                        this.loading = false;
                    }
                }
            },
            onScroll () {
                let scrollTop = this.scrollContainer.scrollTop;
                let clientHeight = this.scrollContainer.clientHeight;
                let scrollHeight = this.scrollContainer.scrollHeight;
                if (Math.ceil(scrollTop) + Math.ceil(clientHeight) >= Math.floor(scrollHeight)) {
                    if (Number(this.list.length) < Number(this.documentsTotal)) {
                        this.scrollContainer.scrollTop -= 1;
                        this.onAppend();
                    }
                }
            },
            onScrollOutside (value) {
                this.scrollContainer.scrollTop += value;
            },
            onAppend () {
                if (!this.loading && !this.isCacheLoading) {
                    this.loading = true;
                    this.scrollContainer.scrollTop += 100;
                    let newRequest = JSON.parse(JSON.stringify(this.request));
                    this.append(newRequest).then(
                        () => {
                            this.$refs.scrollbar.update();
                            this.loading = false;
                            this.$nextTick(() => {
                                this.scrollContainer.scrollTop += 100;
                            });
                        }
                    );
                }
            },
        },
        beforeDestroy() {
            CONST.EventBus.$off(CONST.EVENTS.SEARCH, this.eventBusListenerSearch);
            this.scrollContainer.removeEventListener('scroll', this.onScroll);
            CONST.EventBus.$off(CONST.EVENTS.WHEEL_OUTSIDE, this.onScrollOutside);
        }
    }
</script>

<style lang="scss" scoped>
    .documents {
        &__wrapper {
            padding-right: 15px;
        }
    }
</style>