<template>
    <div class="context-menu" ref="contextmenu" v-click-outside="close">
        <el-dropdown @command="handleCommand">
            <span class="el-dropdown-link">
                {{$t('lk.document.contextmenu')}}<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown" class="dropdown-menu--bordered">
                <el-dropdown-item command="AND">И</el-dropdown-item>
                <el-dropdown-item command="OR">ИЛИ</el-dropdown-item>
                <el-dropdown-item command="NOT">НЕ</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside';

    export default {
        name: 'DocumentContextmenu',
        props: [
            'event',
            'eventData',
            'close',
            'addToSearchString',
        ],
        directives: {
            ClickOutside,
        },
        mounted() {
            this.$refs.contextmenu.style.left = `${this.event.clientX}px`;
            this.$refs.contextmenu.style.top = `${this.event.clientY}px`;
        },
        methods: {
            handleCommand (command) {
                this.addToSearchString(this.eventData, command);
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .context-menu {
        position: fixed;
        background: $color-white;
        color: $color-grey-primary;
        border: 1px solid $color-grey-primary;
        border-radius: $border-radius-main;
        font-size: 12px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

        .el-dropdown {
            &-link {
                padding: 10px;
                display: inline-block;
            }
        }
    }
</style>