<template>
    <div :class="`tab-form${fast ? ' tab-form--fast' : ''}`">
        <div class="tab-form__header">
            <div class="tab-form__header-label">
                {{formTitle}}
            </div>
            <div class="tab-form__header-actions">
                <el-button
                    type="text"
                    icon="el-icon-close"
                    @click="onClose"
                ></el-button>
            </div>
        </div>
        <div class="tab-form__body">
            <el-scrollbar class="main__content-scrollbar" id="FormFeedScrollbar" ref="scrollbar">
                <div v-show="isFaceRecognitionAvailable">
                    <div class="tab-form__switcher">
                        <el-radio-group v-model="feedType">
                            <el-radio-button :label="CONST.FEED_TYPES.DOCUMENTS">
                                <i class="el-icon-document"></i>
                                {{$t('lk.feedForm.tabs.DOCUMENTS')}}
                            </el-radio-button>
                            <el-radio-button :label="CONST.FEED_TYPES.IMAGES">
                                <i class="el-icon-picture"></i>
                                {{$t('lk.feedForm.tabs.IMAGES')}}
                            </el-radio-button>
                        </el-radio-group>
                    </div>
                </div>
                <feed-form-documents
                    v-show="feedType === CONST.FEED_TYPES.DOCUMENTS"
                    ref="FeedFormDocuments"
                    :fast="fast"
                ></feed-form-documents>
                <feed-form-images
                    v-show="feedType === CONST.FEED_TYPES.IMAGES"
                    ref="FeedFormImages"
                    :fast="fast"
                ></feed-form-images>
            </el-scrollbar>
        </div>
        <div class="tab-form__pre-footer" v-if="fast">
            <el-button @click="toFullForm">Расширенные настройки ленты</el-button>
        </div>
        <div class="tab-form__footer">
            <div class="tab-form__footer__additional"></div>
            <div class="tab-form__footer__actions">
                <el-button type="text" @click="onClose">Отменить</el-button>
                <el-button type="primary" @click="submitForm">{{submitButtonText}}</el-button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import FeedFormDocuments from './feed-form-documents/form';
    import FeedFormImages from './feed-form-images/form';
    import CONST from '../const';

    export default {
        name: 'FeedForm',
        components: {
            FeedFormDocuments,
            FeedFormImages,
        },
        props: [
            'fast',
            'close',
        ],
        data () {
            return {
                CONST,
                feedType: null,
                scrollContainer: null,
            };
        },
        created () {
            this.feedType = this.initTab();
        },
        mounted () {
            this.scrollContainer = document.querySelector('#FormFeedScrollbar .el-scrollbar__wrap');
        },
        watch: {
            '$store.state.feeds.editing': function (newId, oldId) {
                if (newId !== oldId) {
                    this.feedType = this.initTab();
                    this.$nextTick(() => {
                        this.ref.$refs.feedForm.validate(() => {});
                    });
                }
            }
        },
        computed: {
            ...mapState({
                editingId: state => state.feeds.editing,
                preFillData: state => state.feeds.preFill,
                feedsList: state => state.feeds.list,
                prevTab: state => state.tabs.prev,
                isFaceRecognitionAvailable: state => state.app.systemActions('FACE_RECOGNITION'),
            }),
            formTitle () {
                return this.editingId ? this.$t('lk.feedForm.titles.edit') : this.$t('lk.feedForm.titles.new');
            },
            submitButtonText () {
                return this.editingId ? this.$t('save') : this.$t('add');
            },
            ref () {
                return this.feedType === CONST.FEED_TYPES.DOCUMENTS ? this.$refs['FeedFormDocuments'] : this.$refs['FeedFormImages'];
            },
        },
        methods: {
            ...mapActions({
                setTab: 'setTab',
                addFeed: 'addFeed',
                saveFeed: 'saveFeed',
                editing: 'editingFeed',
                preFill: 'preFillFeed',
            }),
            initTab () {
                let result = CONST.FEED_TYPES.DOCUMENTS;
                if (this.editingId) {
                    let feed = this.feedsList.find(item => Number(item.id) === Number(this.editingId));
                    if (feed && feed.type) {
                        result = feed.type;
                    }
                } else {
                    if (this.preFillData) {
                        result = this.preFillData.type;
                    }
                }
                return result;
            },
            onClose () {
                if (this.fast) {
                    this.close();
                } else {
                    this.setTab(this.prevTab);
                }
            },
            submitForm() {
                let dataObject = this.ref.dataObject;
                this.ref.$refs.feedForm.validate(valid => {
                    if (valid) {
                        if (this.editingId) {
                            this.saveFeed(dataObject).then(() => {
                                let feedName = dataObject.name;
                                this.onClose();
                                this.$notify({
                                    duration: 3000,
                                    title: this.$t('lk.feedForm.messages.saved'),
                                    message: feedName,
                                    type: 'success'
                                });
                            }).catch(error => {
                                this.$notify({
                                    duration: 3000,
                                    title: this.$t('lk.feedForm.messages.error'),
                                    message: feedName,
                                    type: 'error'
                                });
                            });
                        } else {
                            this.addFeed(dataObject).then(() => {
                                let feedName = dataObject.name;
                                this.onClose();
                                this.$notify({
                                    duration: 3000,
                                    title: this.$t('lk.feedForm.messages.added'),
                                    message: feedName,
                                    type: 'success'
                                });
                            }).catch(error => {
                                this.$notify({
                                    duration: 3000,
                                    title: this.$t('lk.feedForm.messages.error'),
                                    message: dataObject.name,
                                    type: 'error'
                                });
                            });
                        }
                    } else {
                        this.scrollContainer.scrollTop = 0;
                        return false;
                    }
                });
            },
            toFullForm () {
                let preFillData = {data: JSON.parse(JSON.stringify(this.ref.feedForm)), type: this.feedType};
                this.onClose();
                setTimeout(() => {
                    this.preFill(preFillData);
                    this.setTab(CONST.TABS.FEED_FORM);
                }, 200);
            },
        },
        beforeDestroy() {
            this.preFill(null);
            this.editing(null);
        }
    }
</script>

<style lang="scss" scoped>
    @import "../styles/variables";

    .tab-form--fast {
        max-height: 70vh !important;

        .tab-form__header {
            display: none !important;
        }
        .tab-form__body {
            /deep/
            .el-scrollbar {
                max-height: calc(70vh - 105px) !important;

                &__wrap {
                    max-height: calc(70vh - 105px) !important;
                }
            }
        }
    }
    /deep/
    .tab-form__header-actions {
        .el-button {
            padding: 0 !important;

            i {
                font-size: 20px;
            }
        }
    }
    /deep/
    .tab-form__switcher {
        display: inline-block;
        background: $color-blue-light;
        border-radius: $border-radius-main;
        margin-bottom: 10px;
        padding: 5px;

        .el-radio {
            &-group {
                label {
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                    &.is-active {
                        .el-radio-button__inner {
                            background: $color-blue;
                            color: $color-white;
                        }
                    }
                }
            }
            &-button__inner {
                border-radius: $border-radius-main;
                border: none;
                background: none;
                color: $color-blue;
                box-shadow: none;
                font-weight: bold;
                font-size: 13px;
                text-transform: uppercase;

                i {
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
        }
    }
    .tab-form__pre-footer {
        padding: 0 0 10px 20px;

        .el-button {
            box-shadow: $color-shadow;
        }
    }
</style>