<template>
    <el-dialog
        :visible.sync="visible"
        :before-close="onClose"
        :modal="false"
        class="feed-fast-form-wrapper"
    >
        <feed-form :fast="true" :close="close"></feed-form>
    </el-dialog>
</template>

<script>
    import FeedForm from './feed-form';

    export default {
        name: 'FeedFastFormWrapper',
        props: [
            'close',
        ],
        components: {
            FeedForm,
        },
        data() {
            return {
                visible: true,
            };
        },
        methods: {
            onClose() {
                this.close();
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .feed-fast-form-wrapper {
        /deep/
        .el-dialog {
            max-height: 70vh;
            box-shadow: $color-shadow;
            border-radius: $border-radius-main;
            width: 450px;

            &__header {
                display: none !important;
            }
            &__body {
                padding: 0;
                max-height: 70vh;
                overflow: hidden;

                .tab-form {
                    margin: 0;
                }
            }
        }
    }
</style>