<template>
    <div class="document">
        <div class="document__content">
            <div class="document__title" @click="toggleFullText">
                {{document.title}}
            </div>
            <div class="document__fulltext" v-if="showFullText" v-html="document.text"></div>
            <div class="document__text" v-html="document.text" v-else></div>
            <div class="document__additional">
                <div class="document__additional-properties">
                    <span>{{date}}</span>
                </div>
                <div class="document__additional-buttons">
                    <el-button
                        type="text"
                        icon="el-icon-edit"
                        @click="onEdit"
                    ></el-button>
                    <el-button
                        type="text"
                        icon="el-icon-delete"
                        @click="onDeleteDocumentFromGeneralFavorite"
                    ></el-button>
                </div>
            </div>
        </div>
        <footnote-form
            v-if="showForm"
            :generalFavoriteId="generalFavoriteId"
            :footnote="footnote"
            :close="() => this.showForm = false"
            :id="document.id"
        ></footnote-form>
    </div>
</template>

<script>
    import moment from 'moment';
    import {mapActions, mapState} from 'vuex';
    import FootnoteForm from './footnote-form';

    export default {
        name: 'footnote',
        props: [
            'document',
        ],
        components: {
            FootnoteForm,
        },
        data () {
            return {
                showFullText: false,
                showForm: false,
            };
        },
        computed: {
            ...mapState({
                generalFavoriteId: state => state.generalFavorites.selected[0],
            }),
            date () {
                return moment(document.insertDate).format('DD MMMM YYYY HH:mm');
            },
            footnote () {
                return {
                    title: this.document.title,
                    text: this.document.text,
                    author: this.document.author,
                    agency: this.document.agency,
                    url: this.document.url,
                };
            },
        },
        methods: {
            ...mapActions({
                documentFromFeeds: 'documentFromFeeds',
                documentFromGeneralFavorite: 'documentFromGeneralFavorite',
            }),
            toggleFullText () {
                this.showFullText = !this.showFullText;
            },
            onDeleteDocumentFromGeneralFavorite () {
                let documentTitle = this.document.title;
                let documentId = this.document.id;
                this.$confirm(`${this.$t('lk.generalFavorites.deleteConfirm')} «${documentTitle}»?`, this.$t('warning'), {
                    confirmButtonText: this.$t('yes'),
                    cancelButtonText: this.$t('no'),
                    type: 'warning',
                }).then(() => {
                    this.documentFromGeneralFavorite(documentId).then(
                        () => {
                            this.documentFromFeeds(documentId);
                            this.$notify({
                                duration: 3000,
                                title: this.$t('lk.generalFavorites.deleted'),
                                message: documentTitle,
                                type: 'success'
                            });
                        },
                        () => {},
                    );
                }).catch(() => {});
            },
            onEdit () {
                this.showForm = true;
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .document__title {
        cursor: default;
    }
    /deep/
    .document__additional-buttons {
        .el-button {
            font-size: 19px !important;
            margin-left: 10px;

            &.active {
                color: $color-blue;
            }
        }
    }
</style>