<template>
    <el-dialog
        :visible.sync="visible"
        :before-close="onClose"
        :modal="true"
        width="800px"
        :title="formTitle"
    >
        <el-form
            :model="footnoteForm"
            :label-position="'top'"
        >
            <el-form-item prop="title" :label="$t('lk.document.title')">
                <el-input v-model="footnoteForm.title" :placeholder="$t('lk.document.title')"></el-input>
            </el-form-item>
            <el-form-item prop="text" :label="$t('lk.document.text')">
                <el-input v-model="footnoteForm.text" :placeholder="$t('lk.document.text')" type="textarea" :rows="8" resize="none"></el-input>
            </el-form-item>
            <el-form-item prop="author" :label="$t('lk.document.author')">
                <el-input v-model="footnoteForm.author" :placeholder="$t('lk.document.author')"></el-input>
            </el-form-item>
            <el-form-item prop="agency" :label="$t('lk.document.agency')">
                <el-input v-model="footnoteForm.agency" :placeholder="$t('lk.document.agency')"></el-input>
            </el-form-item>
            <el-form-item prop="url" :label="$t('lk.document.agencyUrl')">
                <el-input v-model="footnoteForm.url" :placeholder="$t('lk.document.agencyUrl')"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer">
            <el-button @click="onClose">{{$t('cancel')}}</el-button>
            <el-button @click="onConfirm" type="primary">{{$t('save')}}</el-button>
        </span>
    </el-dialog>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import DocumentHelper from '../helpers/documentHelper';

    export default {
        name: 'FootnoteForm',
        props: [
            'generalFavoriteId',
            'id',
            'footnote',
            'close',
        ],
        data () {
            return {
                visible: true,
                footnoteForm: {
                    title: this.footnote.title,
                    text: DocumentHelper.prepareFootnoteText(DocumentHelper.htmlDecode(this.footnote.text)),
                    author: this.footnote.author,
                    agency: this.footnote.agency,
                    url: this.footnote.url,
                },
            };
        },
        computed: {
            ...mapState({
                generalFavorites: state => state.generalFavorites.list,
                documents: state => state.documents.list,
            }),
            generalFavorite () {
                return this.generalFavorites.find(item => Number(item.id) === Number(this.generalFavoriteId));
            },
            formTitle () {
                let result = `${this.$t('lk.footnoteForm.title')} «${this.generalFavorite.name}»`;
                if (this.id) {
                    result = this.$t('lk.footnoteForm.editTitle');
                }
                return result;
            },
        },
        methods: {
            ...mapActions({
                documentToGeneralFavorite: 'documentToGeneralFavorite',
                updateDocument: 'updateDocument',
            }),
            onClose () {
                this.close();
            },
            onConfirm () {
                this.documentToGeneralFavorite({
                    id: this.generalFavorite.id,
                    title: this.footnoteForm.title,
                    text: this.footnoteForm.text,
                    author: this.footnoteForm.author,
                    agency: this.footnoteForm.agency,
                    url: this.footnoteForm.url,
                    footnoteId: this.id,
                }).then(
                    () => {
                        let title = this.$t('lk.generalFavorites.added');
                        if (this.id) {
                            let document = this.documents.find(item => Number(item.id) === Number(this.id));
                            document.title = this.footnoteForm.title;
                            document.text = this.footnoteForm.text;
                            document.author = this.footnoteForm.author;
                            document.agency = this.footnoteForm.agency;
                            document.url = this.footnoteForm.url;
                            this.updateDocument(document);
                            title = this.$t('lk.generalFavorites.saved');
                        }
                        this.$notify({
                            duration: 3000,
                            title: title,
                            message: this.generalFavorite.name,
                            type: 'success'
                        });
                        this.close();
                    },
                    () => {},
                );
            },
        },
    }
</script>

<style lang="scss" scoped>
    /deep/
    textarea {
        font-size: 15px;
    }
</style>