<template>
    <div class="logout">
        <el-tooltip effect="light" :content="$t('lk.logout.arm')" placement="left">
            <el-button icon="el-icon-notebook-2" @click="arm"></el-button>
        </el-tooltip>
        <el-tooltip effect="light" :content="$t('lk.logout.analytics')" placement="left">
            <el-button icon="el-icon-right" @click="mainInterface"></el-button>
        </el-tooltip>
        <el-tooltip effect="light" :content="$t('lk.logout.notifications')" placement="left" v-if="showNotificationsButton">
            <el-button icon="el-icon-message-solid" @click="onShowNotifications"></el-button>
        </el-tooltip>
        <el-button icon="el-icon-switch-button" @click="logout"></el-button>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import CONST from '../const';

    export default {
        name: 'logout',
        data () {
            return {
                showNotificationsButton: false,
            };
        },
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
            }),
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.SHOW_NOTIFICATIONS_BUTTON, this.setShowNotificationsButton);
        },
        methods: {
            logout () {
                location.href = `${this.appRoot}/action/new/logout`;
            },
            arm () {
                window.open(`${this.appRoot}/action/new/project/attendant#/`, "_blank");
            },
            mainInterface () {
                window.open(`${this.appRoot}/action/new/applications`, "_blank");
            },
            onShowNotifications () {
                CONST.EventBus.$emit(CONST.EVENTS.FORCE_SHOW_NOTIFICATIONS);
            },
            setShowNotificationsButton (value) {
                this.showNotificationsButton = value;
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .logout {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        display: flex;
        flex-direction: column;

        & > * {
            margin: 10px 0 0 0;

            &:first-child {
                margin-top: 0;
            }
        }
        .el-button {
            width: 50px;
            height: 50px;
            background: $color-white;
            color: $color-blue;
            box-shadow: $color-shadow;
            font-size: 16px;
        }
    }
    /deep/
    .el-icon-message-solid {
        color: $color-red;
    }
</style>