<template>
    <div class="main__search-form">
        <el-input
            v-model="text"
            :placeholder="$t('lk.searchForm.placeholder')"
            @change="onChange"
            @keyup.enter.native="search"
        ></el-input>
        <el-button type="primary" @click="search">
            {{$t('search')}}
        </el-button>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CONST from '../const';

    export default {
        name: 'SearchForm',
        data () {
            return {
                text: this.searchStringValue,
            };
        },
        computed: {
            ...mapState({
                searchStringValue: state => state.searchString.value,
            }),
        },
        watch: {
            searchStringValue: function (newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.$nextTick(() => {
                        this.text = newVal;
                    });
                }
            },
        },
        methods: {
            ...mapActions({
                setSearchString: 'setSearchString',
            }),
            onChange () {
                this.setSearchString(this.text);
            },
            search () {
                CONST.EventBus.$emit(CONST.EVENTS.SEARCH);
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .main__search-form {
        height: 90px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        & > * {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
        /deep/
        .el-input__inner {
            background-color: $color-white;
            border-radius: $border-radius-main;
            border: none;
            color: $color-grey-primary;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            box-shadow: $color-shadow;
            font-size: $font-size-main;

            &::placeholder {
                color: $color-grey-light;
            }
        }
        .el-button {
            min-height: 50px;
            padding-left: 28px;
            padding-right: 28px;
        }
    }
</style>