<template>
    <div class="main__tabs">
        <div v-if="isExportAllVisible" class="export-all-button">
            <el-button @click="exportAll">
                <i :class="documentDownloading ? 'el-icon-loading' : 'el-icon-download'"></i>
                &nbsp;
                {{$t('lk.messages.loadAll')}}
            </el-button>
        </div>
        <el-radio-group v-model="radio" class="el-radio-group--tabs" @change="onChange">
            <el-radio :label="CONST.TABS.CHANNELS">
                {{$t(`lk.tabs.${CONST.TABS.CHANNELS}`)}}
            </el-radio>
            <el-radio :label="CONST.TABS.DOCUMENTS">
                {{$t(`lk.tabs.${CONST.TABS.DOCUMENTS}`)}}
            </el-radio>
        </el-radio-group>
    </div>
</template>

<script>
    import CONST from '../const';
    import {mapActions, mapState} from 'vuex';
    import ExportHelper from '../helpers/exportHelper';

    export default {
        name: 'Tabs',
        data () {
            return {
                CONST,
                radio: this.stateValue,
                documentDownloading: false,
            };
        },
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
                stateValue: state => state.tabs.value,
                isSelectedFavorites: state => !!state.favorites.selected.length || !!state.generalFavorites.selected.length,
                documentsIds: state => state.documents.list.map(item => item.id),
                selectedGeneralFavorites: state => state.generalFavorites.selected,
            }),
            isExportAllVisible () {
                return this.stateValue === CONST.TABS.DOCUMENTS && this.isSelectedFavorites && !!this.documentsIds.length;
            },
        },
        mounted () {
            this.$nextTick(() => {
                this.radio = this.stateValue;
            });
        },
        watch : {
            stateValue () {
                this.radio = this.stateValue;
            },
        },
        methods: {
            ...mapActions({
                setTab: 'setTab',
            }),
            onChange () {
                this.setTab(this.radio);
            },
            exportAll () {
                this.documentDownloading = true;
                if (!!this.selectedGeneralFavorites.length) {
                    ExportHelper.downloadFootnotes(this.$services.subsystem_personalPage_export.exportFootnotes, this.appRoot, this.documentsIds).then(
                        () => {
                            this.documentDownloading = false;
                        }
                    );
                } else {
                    ExportHelper.download(this.$services.subsystem_personalPage_export.export, this.appRoot, this.documentsIds).then(
                        () => {
                            this.documentDownloading = false;
                        }
                    );
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';

    .main__tabs {
        height: 75px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .export-all-button {
        position: absolute;
        top: 20px;
        right: 0;

        .el-button {
            box-shadow: $color-shadow;
            color: $color-blue;
        }
    }
</style>