<template>
    <div class="notifications">
        <div class="notifications-container" v-if="open" v-loading="loading" :class="isForcedShowNotifications ? 'forced' : ''">
            <el-scrollbar>
                <div style="padding: 15px">
                    <notification
                        v-for="(notification, index) in notifications"
                        :key="notification.id"
                        :notification="notification"
                        :total="total"
                        :full="full"
                        :close="setViewed"
                        :viewAll="loadAll"
                        :index="index"
                        :closeAll="setViewedAll"
                    ></notification>
                </div>
            </el-scrollbar>
        </div>
    </div>
</template>

<script>
    import CONST from '../../const';
    import Notification from './notification';

    export default {
        name: 'Notifications',
        components: {
            Notification,
        },
        data () {
            return {
                notifications: [],
                total: 0,
                interval: null,
                open: false,
                full: false,
                loading: false,
                isForcedShowNotifications: false,
            };
        },
        created () {
            CONST.EventBus.$on(CONST.EVENTS.FORCE_SHOW_NOTIFICATIONS, this.setForcedShowNotifications);
        },
        mounted () {
            this.interval = setInterval(() => {
                if (!this.open) {
                    this.load();
                }
            }, 60000);
            window.addEventListener('resize', this.onResize);
            setTimeout(() => {
                this.onResize();
            }, 200);
        },
        methods: {
            load () {
                this.$services.urgentNotifications.getInfoForCurrentUser().then(resp => {
                    if (resp.data) {
                        this.total = resp.data.unreadMessagesTotal;
                        this.notifications = [resp.data.latestMessage];
                        this.onResize();
                        if (this.total > 0) {
                            this.open = true;
                        }
                    }
                });
            },
            loadAll () {
                this.loading = true;
                this.$services.urgentNotifications.getAllUnreadMessagesForCurrentUser().then(resp => {
                    this.loading = false;
                    this.full = true;
                    this.notifications = resp.data;
                    this.onResize();
                });
            },
            setViewed (id) {
                this.$services.urgentNotifications.setAsRead(id).then(() => {
                    if (!this.full) {
                        this.open = false;
                    } else {
                        this.notifications = this.notifications.filter(item => Number(item.id) !== Number(id));
                        this.onResize();
                    }
                });
            },
            setViewedAll () {
                this.loading = true;
                this.$services.urgentNotifications.setEverythingAsReadForCurrentUser().then(() => {
                    this.loading = false;
                    this.open = false;
                    this.full = false;
                    this.onResize();
                });
            },
            onResize () {
                let value = false;
                if (this.isForcedShowNotifications) {
                    value = false;
                } else {
                    if (window.innerWidth >= 1699) {
                        value = false;
                    } else {
                        value = !!this.notifications.length;
                    }
                }
                if (this.total <= 0) {
                    value = false;
                }
                CONST.EventBus.$emit(CONST.EVENTS.SHOW_NOTIFICATIONS_BUTTON, value);
            },
            setForcedShowNotifications () {
                this.isForcedShowNotifications = true;
                this.onResize();
            },
        },
        beforeDestroy() {
            clearInterval(this.interval);
            window.removeEventListener('resize', this.onResize);
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    .notifications {
        position: absolute;
        top: 5px;
        right: 65px;
        z-index: 1;

        &-container {
            max-width: 680px;
            animation: slide-up 0.5s ease;

            /deep/
            .el-scrollbar {
                max-height: 100vh;

                &__wrap {
                    max-height: 100vh;
                }
            }
        }
    }
    @keyframes slide-up {
        0% {
            transform: translateX(700px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @media (min-width: 1700px) {
        /deep/
        .notifications-container:not(.forced) {
            width: calc(100vw - 1250px);
        }
    }
    @media (max-width: 1699px) {
        /deep/
        .notifications-container:not(.forced) {
            display: none;
        }
    }
</style>