<template>
    <div class="notification" v-loading="loading">
        <div class="notification__body">
            <div class="notification__image" v-if="image">
                <el-image
                    :src="image"
                    :preview-src-list="[image]"
                    fit="cover"
                >
                    <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </div>
            <div :class="`notification__info${image ? ' with-image' : ''}`">
                <div class="notification__alert" v-if="!full">
                    <span>Аналитика: срочное сообщение</span>
                    <el-button type="primary" plain @click="onViewAll">Смотреть еще {{total - 1}}</el-button>
                </div>
                <div class="notification__alert" v-else-if="total > 1 && first">
                    <el-button type="primary" plain @click="onCloseAll">Закрыть все</el-button>
                </div>
                <div class="notification__title" @click="toggleFulltext">
                    {{notification.documentTitle}}
                </div>
                <div class="notification__text" v-if="!viewFullText">
                    {{text}}
                </div>
                <div class="notification__full-text" v-if="viewFullText" v-html="fullText"></div>
                <div class="notification__properties">
                    <span>{{date}}</span>
                </div>
            </div>
            <div class="notification__actions">
                <el-button
                    type="text"
                    icon="el-icon-close"
                    @click="onClose"
                ></el-button>
            </div>
        </div>
        <div class="notification__additional"></div>
    </div>
</template>

<script>
    import moment from 'moment';
    import {mapState} from 'vuex';
    import DocumentHelper from '../../helpers/documentHelper';

    export default {
        name: 'Notification',
        components: {
            DocumentHelper,
        },
        props: [
            'total',
            'full',
            'notification',
            'close',
            'viewAll',
            'index',
            'closeAll',
        ],
        data () {
            return {
                loading: false,
                fullText: null,
                viewFullText: false,
            };
        },
        computed: {
            ...mapState({
                appRoot: state => state.app.root,
            }),
            first () {
                return this.index === 0;
            },
            image () {
                let result = null;
                if (this.notification.attachId && !!this.notification.attachId.length) {
                    result = `${this.appRoot}/iqplatform/attachment?attachId=${this.notification.attachId}`;
                }
                return result;
            },
            text () {
                let result = this.notification.documentPreview;
                if (!result) {
                    result = this.notification.documentText;
                }
                return result;
            },
            date () {
                return moment(this.notification.dateTimeGenerated).format('DD MMMM YYYY HH:mm');
            },
        },
        methods: {
            onClose () {
                if (!this.full) {
                    this.closeAll();
                } else {
                    this.loading = true;
                    this.close(this.notification.id);
                }
            },
            onViewAll () {
                this.viewAll();
            },
            onCloseAll () {
                this.closeAll();
            },
            toggleFulltext () {
                if (this.viewFullText) {
                    this.viewFullText = false;
                } else {
                    if (this.fullText) {
                        this.viewFullText = true;
                    } else {
                        this.loading = true;
                        this.$services.subsystem_personalPage_feed.documentMarkup({
                            documentId: this.notification.docId,
                            textPredicate: '',
                        }).then(resp => {
                            this.loading = false;
                            this.fullText = DocumentHelper.prepareFullText(resp.data.documents[0].text);
                            this.viewFullText = true;
                        });
                    }
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../styles/variables';

    .notification {
        background: $color-white;
        border-radius: $border-radius-main;
        padding: 20px;
        box-shadow: $color-shadow;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
        &__body {
            display: flex;
        }
        &__image {
            position: relative;
            margin-right: 20px;

            .el-image {
                width: 140px;
                height: 140px;
                border-radius: $border-radius-main;

                .image-slot {
                    i {
                        font-size: 145px;
                        color: $color-white;
                    }
                }
            }
        }
        &__info {
            flex: 1;
            max-width: calc(100% - 10px);

            &.with-image {
                max-width: calc(100% - 170px);
            }
        }
        &__alert {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            color: $color-blue;

            & > * {
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
        &__actions {
            .el-button {
                font-size: 17px;
                padding: 0 !important;

                /deep/
                i {
                    font-weight: bold;
                }
            }
        }
        &__title {
            white-space: nowrap;
            font-size: 20px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px 0;
            cursor: pointer;
        }
        &__text {
            text-align: justify;
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 48px;
            max-height: 48px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__full-text {
            text-align: justify;
        }
        &__properties {
            display: flex;
            align-items: center;
            color: $color-grey-light;
            font-size: 10px;
            text-transform: uppercase;
            margin-top: 5px;

            & > * {
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
</style>