@import './variables';

/deep/
.el-form {
  &-item {
    margin-bottom: 18px !important;

    &__label {
      font-size: 13px;
      color: $color-grey-primary;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &--label-top {
    .el-form-item__label {
      padding: 0 !important;
    }
  }
  .el-input__inner {
    height: 50px;
    line-height: 50px;
    border: 1px solid $color-blue-light;
  }
}
/deep/
.el-button {
  font-family: $font-family-main;
  border: none;
  font-weight: bold;
  text-transform: uppercase;

  &:not(.is-circle) {
    border-radius: $border-radius-main;
    padding: 0 13px;
  }
  &:not(.el-button--text):hover {
    background: $color-grey-light !important;
    color: $color-white !important;
  }
  &.el-button--text:hover {
    color: $color-blue;
  }
  &--small {
    font-size: 13px;
    min-height: 25px;
  }
  &--default {
    color: $color-grey-light;
    background: $color-white;
  }
  &--primary {
    color: $color-white;
    background: $color-blue;

    &.is-plain {
      color: $color-blue;
      background: $color_blue-light;
    }
  }
  &--text {
    color: $color-grey-light;
  }
}
/deep/
.el-checkbox {
  color: $color-grey-secondary;

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $color-blue;
  }
  &-star {
    .el-checkbox__input {
      .el-checkbox__inner {
        background-color: transparent;
        border: none;

        &:after {
          content: unset;
        }
        &:before {
          font-family: 'element-icons';
          font-size: 20px;
          content: '\E797';
        }
      }
      &.is-checked {
        .el-checkbox__inner {
          &:before {
            color: $color-blue;
          }
        }
      }
    }
  }
  &-group {
    &--list {
      .el-checkbox {
        float: left;
        clear: both;
      }
    }
  }
}
/deep/
.el-tag {
  background-color: transparent;
  border-color: $color-blue-light;
  border-radius: $border-radius-main;
  color: $color-grey-secondary;

  &--small {
    min-height: 25px;
    font-size: $font-size-main;
  }
}
/deep/
.el-scrollbar {
  &__bar {
    &.is-vertical {
      width: 10px;
    }
    &.is-horizontal {
      height: 10px;
    }
  }
}
/deep/
.el-radio-group {
  &--tabs {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-blue-light;

    .el-radio {
      &__input {
        display: none;

        &.is-checked + .el-radio__label {
          border-bottom-color: $color-blue;
        }
      }
      &__label {
        padding-left: 0;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        padding-bottom: 12px;
        border-bottom: 3px solid transparent;
        position: relative;
        margin-bottom: -2px;
      }
    }
  }
}
/deep/
.el-dialog {
  border-radius: $border-radius-main;
  box-shadow: $color-shadow;

  &__header {
    border-bottom: 1px solid $color-blue-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
  }
  &__footer {
    padding: 0;
    border-top: 1px solid $color-blue-light;

    .el-button {
      border-radius: 0;
      margin-left: 0;
      height: 50px;
      line-height: 50px;

      &:last-child {
        border-bottom-right-radius: $border-radius-main;
      }
    }
  }
}
/deep/
.el-input {
  &__inner {
    border: 1px solid $color-grey-light;
    border-radius: $border-radius-main;
    font-size: $font-size-main;
    color: $color-grey-primary;
  }
}