@import './variables';

.main-container {
  font-family: $font-family-main;
  background: $color-blue-ultra-light;
  width: 100%;
  height: 100%;
  color: $color-grey-secondary;
  font-size: $font-size-main;
  position: relative;
  overflow: hidden;
}

.layout {
  max-width: 1200px;
  min-width: 700px;
  height: 100%;
  overflow: hidden;
  position: relative;

  .aside {
    width: 330px;
    position: fixed;
    top: 0;
    min-height: 100%;
    max-height: 100%;
    height: 100%;

    /deep/
    &-scrollbar {
      height: 100%;
      max-height: 100%;

      .el-scrollbar__bar {
        &.is-vertical {
          right: unset;
          left: 2px;
        }
      }

      .el-scrollbar__wrap {
        height: calc(100% + 17px);
      }
    }

    /deep/
    &__block {
      background-color: $color-white;
      padding: 25px 20px 25px 40px;
      margin-top: 1px;

      &:first-child {
        margin-top: 0;
      }

      &--spaced {
        margin-top: 5px;
      }

      &-header {
        padding: 0 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--colored {
          border-radius: $border-radius-main;
          padding: 7px 10px 8px 10px;
          background: $color-blue-ultra-light;
        }

        &:hover {
          .aside__block-header__name {
            color: $color-blue;
          }

          .aside__block-header__actions {
            display: block;
          }
        }

        &__name {
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 25px;
          line-height: 25px;
          color: $color-grey-primary;
          text-transform: uppercase;
          font-size: 13px;
        }

        &__actions {
          display: none;
          white-space: nowrap;

          /deep/
          .el-button {
            font-weight: bold;

            i[class^=el-icon-] {
              font-weight: bold;
            }
          }
        }
      }

      &-items {
        padding-left: 10px;

        /deep/
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          padding: 7px 10px;
          border-radius: $border-radius-main;

          &:hover {
            .el-checkbox__label {
              color: $color-blue;
            }

            .aside__block-items__item__content-text {
              color: $color-blue;
            }

            .el-tag {
              color: $color-blue;
            }

            .aside__block-items__item__actions {
              display: block;

              & > *:not(:first-child) {
                margin-left: 10px;
              }
            }
          }

          &.is-selected {
            background: $color-blue-ultra-light;
          }

          &__content {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex: 1;
            overflow: hidden;

            .el-checkbox {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
              overflow: hidden;
              min-height: 25px;

              &__label {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            i {
              font-size: 16px;
            }
            .el-image {
              min-width: 25px;
              border-radius: $border-radius-main;
              overflow: hidden;
              background: $color-blue-ultra-light;

              & > * {
                width: 25px;
                height: 25px;

                i {
                  font-size: 25px;
                }
              }
            }
            &-text {
              padding-left: 10px;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              cursor: pointer;
            }
          }

          &__actions {
            padding-left: 10px;
            display: none;

            .el-button {
              padding: 0 5px;

              i[class^=el-icon-] {
                font-weight: bold;
              }
            }
          }

          .el-tag {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .main {
    float: right;
    width: calc(100% - 350px);
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    &__content {
      overflow: hidden;
      flex: 1;

      /deep/
      &-scrollbar {
        height: 100%;
        max-height: 100%;

        .el-scrollbar__wrap {
          height: calc(100% + 17px);
        }
      }
    }
  }
  /deep/
  .documents {
    .document {
      background: $color-white;
      border-radius: $border-radius-main;
      box-shadow: $color-shadow;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      &__image {
        background: $color-blue-light;
        position: relative;

        &-count {
          position: absolute;
          left: 5px;
          top: 5px;
          border-radius: $border-radius-main;
          background: $color-blue;
          color: $color-white;
          font-size: 10px;
          padding: 0 5px;
        }
        .el-image {
          width: 145px;
          height: 145px;

          .image-slot {
            i {
              font-size: 145px;
              color: $color-white;
            }
          }
        }
      }
      &__content {
        padding: 13px 20px;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        & > * {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
      &__title {
        font-size: 20px;
        color: $color-grey-primary;
        font-weight: bold;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }

      &__tags {
        .el-tag {
          margin-left: 10px;
          border: none;
          background-color: $color-green-light;
          color: $color-green;
          font-size: 14px;
          font-weight: bold;
          line-height: 25px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      &__text {
        text-align: justify;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 48px;
        max-height: 48px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        span.key {
          display: inline-block;
          border-bottom: 2px dashed $color-yellow;
        }
      }
      &__fulltext {
        text-align: justify;
        display: block;
        max-width: 100%;

        span.key:not([type = object]) {
          display: inline-block;
          border-bottom: 2px dashed $color-yellow;
        }
      }
      &__spacer {
        flex: 1;
        margin: 0;
      }
      &__additional {
        color: $color-grey-light;
        font-size: 10px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > * {
          margin-left: 20px;
          display: flex;
          align-items: center;

          &:first-child {
            margin-left: 0;
          }
        }
        &-properties > * {
          display: inline-block;
          margin-left: 15px;

          &:first-child {
            margin-left: 0;
          }
        }
        .el-button {
          font-size: 13px;
          font-weight: normal;
          padding: 0;
        }
        i.icon-button {
          font-size: 19px;
          margin-left: 10px;
          cursor: pointer;

          &:hover {
            color: $color-blue;
          }
        }
      }
    }
    .document-loader {
      margin-top: 10px;
      padding: 13px 20px;
      border-radius: $border-radius-main;
      overflow: hidden;

      .el-loading-mask {
        z-index: 1;
        background: transparent;
      }
    }
  }
  /deep/
  .tab-form {
    background: $color-white;
    border-radius: $border-radius-main;
    box-shadow: $color-shadow;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 40px);

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      padding: 0 20px;
      border-bottom: 1px solid $color-blue-light;

      &-label {
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &-actions {
        margin-left: 20px;
      }
    }
    &__body {
      padding: 20px;
      overflow: hidden;
      flex: 1;

      .el-scrollbar {
        max-height: calc(100vh - 160px);

        &__wrap {
          max-height: calc(100vh - 160px);
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      border-radius: 0 0 $border-radius-main $border-radius-main;
      border-top: 1px solid $color-blue-light;

      &__additional {
        padding: 0 20px;
      }
      &__actions {
        .el-button {
          height: 50px;
          border-radius: 0;
        }
      }
    }
  }
}