$font-family-main: Roboto, OpenSans, Tahoma, sans-serif;
$font-size-main: 15px;
$border-radius-main: 5px;

$color-blue: #0077FF;
$color_blue-light: #D7E8FC;
$color-blue-ultra-light: #EDF4FC;
$color-white: #fff;
$color-grey-primary: #46494D;
$color-grey-secondary: #6A6E73;
$color-grey-light: #7D96B3;
$color-green: #00A42E;
$color-green-light: #DFF8E6;
$color-yellow: #e6d417;
$color-red: #B61B17;

$color-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);